.breadcrumbs
  == #{breadcrumb(@post.forum)}
  &raquo;
  = link_to(@post.topic.subject, [@post.forum])
%h2== #{t(:Edit_history_for, :number => @post.number, :subject => @post.topic.subject)}
%table.edits.listing{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %thead
    %tr
      %td= t(:Timestamp)
      %td Edited By
      %td IP
  %tbody
    - for edit in @edits
      %tr{ :class => stripe }
        %td= link_to edit.created_at.strftime(date_display + " " + time_display), [@post, edit]
        %td= edit.user
        %td= edit.ip
