<h2>Inbox</h2>
<%= link_to t(:Send_new_message), new_message_path %> | <%= link_to t(:Sent_Messages), sent_messages_path %>
<table cellspacing='0' cellpadding='5' width='100%' class='list-table' rules='groups'>
	<thead>
		<tr>
			<td align='center' width='20'><%= t(:Read) %></td>
			<td align='center' width='40'><%= t(:Delete) %></td>
			<td align='center'><%= t(:From) %></td>
			<td align='center'><%= t(:Time_sent) %></td>
			</tr>
	</thead>
	<tbody>
		<% unless @messages.empty? %>
		<%= render :partial => "message", :collection => @messages %>
		<% else %>
		<tr><td colspan='4' align='center'><b><%= t(:no_new_messages) %></b></td></tr>
		<% end %>
	</tbody>
</table>