<h2><%= t(:Replying_to) %><%= @message.from.login %></h2>
<% form_for :message, @message, :url => messages_path do |f| %>
<table cellspacing='0' cellpadding='5' class='action-box' width='100%'>
	<tbody>
<tr><td><b>To:</b></td><td><%= f.hidden_field "to_id", :value => @message.from.id %><%= @message.from.login %></td></tr>
<tr><td valign='top'><b><%= t(:Text)%>:</b></td><td><%= f.text_area "text", :cols => 80, :value => "[quote=\"" + @message.from.login + "\"]" + @message.text + "[/quote]" %></td></tr>

</tbody>
<tfoot>
	<tr><td colspan='2'>
	<%= submit_tag t(:Reply) %>
	</td></tr>
	</tfoot>
</table>
<% end %>