<table cellspacing='0' cellpadding='5' width='100%' class='action-box'>
  <thead>
    <tr>
      <td><%= t(:Message_from) %><%= @message.from.login %> <%= t(:sent) %> <%= time_ago_in_words(@message.created_at) %> <%= t(:ago) %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align='left'><%= link_to(t(:Reply), reply_message_path(@message.id)) %></td>
    </tr>
  
    <tr>
      <td><%= bbcode(@message.text) %></td>
    </tr>
  
    <tr>
      <td align='left'><%= link_to(t(:Reply), reply_message_path(@message.id)) %></td>
    </tr>
  </tbody>
</table>