%li{ :class => stripe }
  %h2= link_to(h(forum.title), forum_path(forum))
  = h(forum.description)
  - if forum.children.exists?
    %br
    = t(:Subforums)
    \:
    - forum.children(Configuration['subforums_display'].to_i).each do |forum|
      = link_to(h(forum.title), forum_path(forum))
  %br
  == #{t(:topics_count, :count => forum.topics.count)}, #{t(:posts_count, :count => forum.posts.count)}
  %br
  - if !forum.last_post.nil?
    Last post was
    = time_ago_in_words(forum.last_post.created_at)
    = t(:ago)
    = t(:by)
    = link_to(h(forum.last_post.user), forum.last_post.user)
    = t(:in)
    = link_to(h(forum.last_post.topic.subject), forum_topic_path(forum,forum.last_post.topic))
    - if !forum.last_post_forum.nil?
      = t(:in)
      = link_to(h(forum.last_post_forum), forum_path(forum.last_post_forum))
  - else
    = t(:None)
