- @title = t(:Viewing_forums)
- if @category.nil? && @categories.empty? && @forums.empty?
  %ul.forums.listing{:cellpadding => "2", :cellspacing => "0", :rules => "groups"}
    %li
      %strong 
        = t(:no_categories_or_forums)
        - unless current_user.can?(:manage_forums) && current_user.can?(:manage_categories)
          = t(:administrator_should_create_category_or_forum)
        - else
          = link_to t(:you_should_create_category_or_forum), admin_root_path
- if @category.nil?
  - for category in @categories
    - div_for category do
      %h2= link_to category.name, [category, :forums]
      %h3= category.description
      %ul.forums.listing
        - unless category.forums.without_parent.empty?
          = render :partial => category.forums.without_parent
        - else
          %li
            %strong
              = t(:no_forums_for_category)
              - unless current_user.can?(:manage_forums)
                = t(:administrator_should_create_forum)
              - else
                = link_to t(:you_should_create_forum), new_admin_category_forum_path(category)
    %br
- else
  = link_to(t(:rBoard), forums_path)
  \raquo;
  = link_to @category.name, [@category, :forums]
  %br
  %h2= @category.name
- unless @forums.empty?
  %ul.forums.listing
    = render :partial => @forums
- if logged_in?
  .center
    %em
      %b== #{t(:topics_count, :count => @topics)}, #{t(:posts_count, :count => @posts)} & #{t(:users_count, :count => @topics)}

