<table cellspacing='0' cellpadding='2' class='forums' width='100%' rules='groups'>
  <% unless @forums.empty? %>
    <thead>
      <tr>
        <td align='left' width='40%'><%= t(:Forum) %></td>
        <td align='center' width='100px'><%= t(:Topics) %></td>
        <td align='center' width='100px'><%= t(:Posts) %></td>
        <td align='right'><%= t(:Last_Post) %></td>
      </tr>
    </thead>
<tbody>
  <%= render :partial => "forum", :collection => @forums %>
</tbody>
  <% else %>
    <thead>
      <tr>
        <td colspan='5' align='center'>
          <b>
            <%= t(:no_forums) %>
            <% unless is_admin? %>
              <%= t(:administrator_should_create_forum) %>
            <% else %>
              <%= link_to t(:you_should_create_forum), new_admin_forum_path %>
            <% end %>
          </b>
        </td>
      </tr>
    </thead>
  <% end %>
  

</table><br />
<% if logged_in? %>
  <table cellspacing='0' cellpadding='5' class='info-box' width='100%' rules='groups'>
    <thead>
      <tr><td><%= t(:forum_statistics) %></td></tr>
    </thead>
    <tbody>
      <tr><td>
          <span class='right'>
            <b><%= t(:Posts) %>: </b><%= @posts %><br />
            <b><%= t(:Topics) %>: </b><%= @topics %><br />
            <b><%= t(:posts_per_topic) %>: </b><%= @ppt %><br />
          </span>
          <b><%= t(:registered_users) %>:</b> <%= @users %> <br />
          <b><%= t(:recent_users) %>:</b> <%= @lusers.blank? ? t(:none) : @lusers %>
      </td></tr>
    </tbody>
  </table>
<% end %>