<% content_for :feed do %>
  <link rel="alternate" type="application/rss+xml" title="<%= @forum.title %> Feed" href="<%= forum_url(@forum, :format => :rss) %>" />
<% end %>

<%= link_to(t(:rBoard), forums_path) %> -> <%= breadcrumb(@forum) %>
  <% unless @forums.empty? %>
    <h2><%= t(:Subforums) %> <%= @forum.title %></h2>
    <table cellspacing='0' cellpadding='2' class='forums' width='100%' rules='groups'>
      <thead>
        <tr>
          <td align='left' width='40%'><%= t(:Forums) %></td>
          <td align='center' width='100px'><%= t(:Topics) %></td>
          <td align='center' width='100px'><%= t(:Posts) %></td>
          <td align='right'><%= t(:Last_Post) %></td>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => "forum", :collection => @forums %>
      </tbody>
    </table>
  <% end %>
<br />
<h2><%= t(:Viewing_forum) %> <%= @forum.title %></h2>
<%= will_paginate @topics %>
<% if current_user.can?(:start_new_topics, @forum) %>
  <%= link_to(t(:New_Topic), new_forum_topic_path(@forum)) %>
<% end %>
<table cellspacing='0' cellpading='0' width='100%' class='forum' rules='groups'>
	<% unless @topics.empty? %>
	  <% form_tag moderate_moderator_topics_path do %>
	    <thead>
    	  <tr>
    	    <% if is_moderator? %>
      	    <td width='50px'><%= t(:Moderation) %></td>
      	  <% end %>
        	<td>&nbsp;</td>
        	<td align='left'><%= t(:Topic) %></td>
        	<td align='center'><%= t(:Replies) %></td>
        	<td align='center'><%= t(:Views) %></td>
        	<td align='center'><%= t(:Author) %></td>
        	<td align='right'><%= t(:Last_Post) %></td>
    	  </tr>
    	</thead>
  	  <tbody>
  	    <% for topic in @topics %>
      	  <tr id='topic_<%= topic.id %>'>
        	  <% if is_moderator? %>
            	<td align='center'>
            	  <% if !topic.moved? %>
            	    <%= link_to_remote check_box_tag("moderated_topics[]", topic.id, !topic.moderations.for_user(current_user).empty?, :id => "topic_#{topic.id}_moderated"), :url => moderator_topic_moderations_path(topic) %>
            	  <% else %>
            	    <%= link_to_remote check_box_tag("moderated_topics[]", topic.moved_to.id, !topic.moved_to.moderations.for_user(current_user).empty?, :id => "topic_#{topic.moved_to.id}_moderated"), :url => moderator_topic_moderations_path(topic.moved_to) %>
            	  <% end %>
            	</td>
            <% end %>
            <td>
              <% if topic.sticky? %>
                <%= theme_image_tag("sticky.jpg") %>
              <% elsif topic.moved? %>
                <%= theme_image_tag("moved.jpg") %>
              <% elsif topic.locked? %>
                <%= theme_image_tag("locked.jpg") %>
              <% elsif logged_in? && !topic.readers.include?(current_user) %>
                <%= theme_image_tag("new.jpg") %>
              <% else %>
                <%= theme_image_tag("old.jpg") %>
              <% end %>
              <% if is_moderator? %>
                <% if !topic.reports.empty? %>
                  <%= theme_image_tag("report.jpg", :title => "#{t(:report, :count => topic.reports.count)}") %>
                <% end %>
              <% end %>
            </td>
            <td class='topic_subject'>
              <b>
                <%= link_to(h(topic.subject), topic.moved? ? forum_topic_path(topic.moved_to.forum, topic.moved_to) : forum_topic_path(topic.forum, topic)) %>
                 <%= will_paginate(topic.posts.paginate(:per_page => per_page, :page => 1), :prev_label => nil, :next_label => "", :params => { :controller => "topics", :action => "show", :id => topic.id, :forum_id => @forum.id }) %>
              </b>
            </td>
            <td align='center'><%= (topic.moved? ? topic.moved_to.posts.count : topic.posts.count) - 1 %></td>
            <td align='center'><%= topic.views %></td>
            <td align='center'><%= link_to(h(topic.user), topic.user) %></td>
            <td align='right' width='15%'>
            <% if topic.moved? %>
              -
            <% else %>
              <%= time_ago_in_words(topic.posts.last.created_at) %> <%= t(:ago) %> <%= t(:by) %> <%= link_to h(topic.last_post.user), topic.last_post.user %>
            <% end %>  
              </td>
          </tr>
        <% end %>
      </tbody>
      <% if current_user.can?(:moderate_topics) %>
        <tfoot>
          <tr>
            <td align='right' colspan='8'>
              <span id='moderated_topics_count'><% unless @moderated_topics_count.zero? %><%= pluralize(@moderated_topics_count, "topic") %><%= t(:selected_for_moderation) %><% end %></span>
              <%= render :partial => "topics/buttons" %>
            </td>
          </tr>
        </tfoot>
      <% end %>
    <% end %>
  <% else %>
    <thead>
      <tr>
        <td align='center'>
          <%= t(:no_topics_for_forum) %>
          <% if current_user.can?(:start_new_topics, @forum) %>
            <%= t(:Why_not) %> <%= link_to(t(:create_one?), new_forum_topic_path(@forum)) %>
          <% end %>
        </td>
      </tr>
    </thead>
  <% end %>
</table>
<% if current_user.can?(:start_new_topics, @forum) %>
  <%= link_to(t(:New_Topic), new_forum_topic_path(@forum)) %>
<% end %>
<%= will_paginate @topics %>