- @title = t(:Viewing_forum, :forum => @forum)
- content_for :feed do
  %link{:href => forum_url(@forum, :format => :rss), :rel => "alternate", :title => "#{@forum.title} Feed", :type => "application/rss+xml"}/
%span.breadcrumbs

  = link_to(t(:rBoard), forums_path)
  \&raquo; #{breadcrumb(@forum)}
  - unless @forums.empty?
    %h2
      = t(:Subforums)
      = @forum.title
    %table.forums{:cellpadding => "2", :cellspacing => "0", :rules => "groups", :width => "100%"}
      %thead
        %tr
          %td{:align => "left", :width => "40%"}= t(:Forums)
          %td{:align => "center", :width => "100px"}= t(:Topics)
          %td{:align => "center", :width => "100px"}= t(:Posts)
          %td{:align => "right"}= t(:Last_Post)
      %tbody
        = render :partial => "forum", :collection => @forums
  %br
  %h2= t(:Viewing_forum, :forum => @forum)
  = will_paginate @topics
  - if (@forum.open? && current_user.can?(:start_new_topics, @forum)) || (!@forum.open? && current_user.can?(:post_in_closed_forums, @forum))
    = link_to(t(:New, :thing => "Topic"), new_forum_topic_path(@forum), :class => "new_topic_button")
  %table.forum{:cellspacing => "0", :rules => "groups", :width => "100%"}
    - unless @topics.empty?
      - form_tag moderate_moderator_topics_path do
        %thead
          %tr
            - if current_user.can_moderate_topics?
              %td{:width => "50px"}= t(:Moderation)
            %td &nbsp;
            %td{:align => "left", :width => "15%"}= t(:Topic)
            %td{:align => "center"}= t(:Replies)
            %td{:align => "center"}= t(:Views)
            %td{:align => "center"}= t(:Author)
            %td{:align => "right", :width => "20%"}= t(:Last_Post)
        %tbody{ :class => "topics"}
          - for topic in @topics
            %tr{:id => "topic_#{topic.id}", :class => cycle("odd", "even") + " row"}
              - if current_user.can_moderate_topics?
                %td{:align => "center"}
                  - if !topic.moved?
                    = link_to_remote check_box_tag("moderated_topics[]", topic.id, !topic.moderations.for_user(current_user).empty?, :id => "topic_#{topic.id}_moderated"), :url => moderator_topic_moderations_path(topic)
                  - else
                    = link_to_remote check_box_tag("moderated_topics[]", topic.moved_to.id, !topic.moved_to.moderations.for_user(current_user).empty?, :id => "topic_#{topic.moved_to.id}_moderated"), :url => moderator_topic_moderations_path(topic.moved_to)
              %td
                - if topic.sticky?
                  = theme_image_tag("sticky.jpg", :alt => "Sticky")
                - elsif topic.moved?
                  = theme_image_tag("moved.jpg", :alt => "Moved")
                - elsif topic.locked?
                  = theme_image_tag("locked.jpg", :alt => "Locked")
                - elsif logged_in? && !topic.readers.include?(current_user)
                  = theme_image_tag("new.png", :alt => "New")
                - else
                  = theme_image_tag("old.png", :alt => "Old")
                - if current_user.can?(:view_reports, @forum)
                  - if !topic.reports.empty?
                    = theme_image_tag("report.jpg", :title => t(:report, :count => topic.reports.count), :alt => "Reports")
              %td.topic_subject
                %b
                  = link_to(h(topic.subject), topic.moved? ? forum_topic_path(topic.moved_to.forum, topic.moved_to) : forum_topic_path(topic.forum, topic))
                  = will_paginate(topic.posts.paginate(:per_page => per_page, :page => 1), :prev_label => "", :next_label => "", :params => { :controller => "topics", :action => "show", :id => topic.id, :forum_id => @forum.id })
              %td{:align => "center"}= (topic.moved? ? topic.moved_to.posts.count : topic.posts.count) - 1
              %td{:align => "center"}= topic.views
              %td{:align => "center"}= link_to(h(topic.user), topic.user)
              %td{:align => "right", :width => "15%"}
                - if topic.moved?
                  \-
                - else
                  = time_ago_in_words(topic.posts.last.created_at)
                  = t(:ago)
                  = t(:by)
                  = link_to h(topic.last_post.user), topic.last_post.user
        - if current_user.can_moderate_topics?
          %tfoot
            %tr
              %td{:align => "right", :colspan => "8"}
                %span#moderated_topics_count
                  - unless @moderated_topics_count.zero?
                    = pluralize(@moderated_topics_count, "topic")
                    = t(:selected_for_moderation)
                = render :partial => "topics/buttons"
    - else
      %thead
        %tr
          %td{:align => "center"}
            = t(:no_topics_for_forum)
            - if current_user.can?(:start_new_topics, @forum)
              = t(:Why_not)
              = link_to(t(:create_one?), new_forum_topic_path(@forum))
  - if (@forum.open? && current_user.can?(:start_new_topics, @forum)) || (!@forum.open? && current_user.can?(:post_in_closed_forums, @forum))
    = link_to(t(:New, :thing => "Topic"), new_forum_topic_path(@forum), :class => "new_topic_button")
  = will_paginate @topics
