<%= link_to(t(:rBoard), forums_path) %> -> <%= breadcrumb(@forum) %>
  <% unless @forums.empty? %>
    <h2><%= t(:Subforums) %> <%= @forum.title %></h2>
    <table cellspacing='0' cellpadding='2' class='forums' width='100%' rules='groups'>
      <thead>
        <tr>
          <td align='left' width='40%'><%= t(:Forums) %></td>
          <td align='center' width='100px'><%= t(:Topics) %></td>
          <td align='center' width='100px'><%= t(:Posts) %></td>
          <td align='right'><%= t(:Last_Post) %></td>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => "forum", :collection => @forums %>
      </tbody>
    </table>
  <% end %>
<br />
<h2><%= t(:Viewing_forum) %> <%= @forum.title %></h2>
<%= will_paginate @topics %>
<% if @forum.topics_creatable_by?(logged_in?, current_user)  %>
  <%= link_to(t(:New_Topic), new_forum_topic_path(@forum)) %>
<% end %>
<table cellspacing='0' cellpading='0' width='100%' class='forum' rules='groups'>
	<% unless @topics.empty? %>
	  <% form_tag moderate_moderator_topics_path do %>
	    <thead>
    	  <tr>
    	    <% if is_moderator? %>
      	    <td width='50px'><%= t(:Moderation) %></td>
      	  <% end %>
        	<td>&nbsp;</td>
        	<td align='left'><%= t(:Topic) %></td>
        	<td align='center'><%= t(:Replies) %></td>
        	<td align='center'><%= t(:Views) %></td>
        	<td align='center'><%= t(:Author) %></td>
        	<td align='right'><%= t(:Last_Post) %></td>
    	  </tr>
    	</thead>
  	  <tbody>
  	    <% for topic in @topics %>
      	  <tr id='topic_<%= topic.id %>'>
        	  <% if is_moderator? %>
            	<td align='center'><%= link_to_remote check_box_tag("moderated_topics[]", topic.id, !topic.moderations.for_user(current_user).empty?, :id => "topic_#{topic.id}_moderated"), :url =>  moderator_topic_moderations_path(topic) %></td>
            <% end %>
            <td>
              <% if topic.sticky? %>
                <%= theme_image_tag("sticky.jpg") %>
              <% elsif logged_in? && !current_user.previous_login.nil? && topic.posts.last.created_at > current_user.previous_login && !topic.locked %>
                <%= theme_image_tag("new.jpg") %>
              <% elsif topic.locked? %>
                <%= theme_image_tag("locked.jpg") %>
              <% else %>
                <%= theme_image_tag("old.jpg") %>
              <% end %>
            </td>
            <td class='topic_subject'>
              <b><%= link_to(h(topic.subject), forum_topic_path(topic.forum, topic)) %>
                 <%= will_paginate(topic.posts.paginate(:per_page => per_page, :page => 1), :prev_label => nil, :next_label => "", :params => { :controller => "topics", :action => "show", :id => topic.id, :forum_id => @forum.id }) %></b>
            </td>
            <td align='center'><%= topic.posts.size - 1 %></td>
            <td align='center'><%= topic.views %></td>
            <td align='center'><%= link_to(h(topic.user.login), topic.user) %></td>
            <td align='right' width='15%'><%= time_ago_in_words(topic.posts.last.created_at) %> <%= t(:ago) %> <%= t(:by) %> <%= link_to h(topic.last_post.user.login), topic.last_post.user %></td>
          </tr>
        <% end %>
      </tbody>
      <% if is_admin? %>
        <tfoot>
          <tr>
            <td align='right' colspan='8'>
              <% if is_moderator? %>
                <span id='moderated_topics_count'><% unless @moderated_topics_count.zero? %><%= pluralize(@moderated_topics_count, "topic") %><%= t(:selected_for_moderation) %><% end %></span>
              <% end %>
              <%= render :partial => "topics/buttons" %>
            </td>
          </tr>
        </tfoot>
      <% end %>
    <% end %>
  <% else %>
    <thead>
      <tr>
        <td align='center'>
          <% if @forum.topics_creatable_by?(logged_in?, current_user) %>
            <%= t(:no_topics_for_forum) %> <%= t(:why_not) << link_to(t(:create_one?), new_forum_topic_path(@forum)) %>
          <% end %>
        </td>
      </tr>
    </thead>
  <% end %>
</table>
<% if @forum.topics_creatable_by?(logged_in?, current_user)  %>
  <%= link_to(t(:New_Topic), new_forum_topic_path(@forum)) %>
<% end %>
<%= will_paginate @topics %>