
<table cellspacing='0' cellpadding='5' width='100%' class='posts'>
  <tr>
    <td rowspan='2' valign='top' width='4%'><b><%= @user.login %></b><br /> 
      <% if @user.user_level_id == 3 %>
        <b><font color='red'>Administrator</font></b>
      <% end %> 
      <% if @user.user_level_id == 2 %>
        <b><font color='green'>Moderator</font></b>
      <% end %> 
      <% if @user.user_level_id == 1 %>
        <b><font color='Blue'>User</font></b>
      <% end %> 
      <br />
      
      <% if !@user.email.blank? %>
            <%= image_tag("http://www.gravatar.com/avatar.php?gravatar_id=" + Digest::MD5.hexdigest(@user.email) + "&default=") %><br>
        <% end %>
        
    </td>
  </tr>
  <tr>
    <td></td>
    <td valign='top' colspan='2'>
      <b>Date Joined:</b> <%= @user.created_at.strftime("%d-%m-%y") %> <br />
      <b>Posts:</b> <%= @user.posts_count %>, about <%= @posts_percentage %>% of all posts on this forum.<br />
      <b>IP:</b> <%= @user.ip %>
      <b>Bans:</b> <%= @user.login %> has been banned <%= @user.ban_times  %> times. <br />
      <% if !@user.ban_time.nil? && @user.ban_time > Time.now %>
        <h2><%= @user.login %> is currently banned!</h2>
        This user was banned by <%= @user.banned_by.login %> and their ban expires in <%= time_ago_in_words(@user.ban_time) %>.<br><br>
        The reason stated was: <i>"<%= @user.ban_reason %>"</i><br><br>
      <% end %>
      <% unless @user.signature.blank? %><br>
        ____________<br>
        <%= bbcode(sanitize(@user.signature)) %>
      <% end %>
    </td>
  </tr>
</table>