<% if params[:type] == "category" %>
  <tr>
    <td><%= f.label "category_id", t(:Category) %></td>
    <td colspan='7'><%= f.select "category_id", @categories.map { |c| [c.name, c.id] } %></td>
  </tr>
<% elsif params[:type] == "forum" %>
  <tr>
    <td><%= f.label "forum_id", t(:Forum) %></td>
    <td colspan='7'><%= f.select "forum_id", @forums.map { |c| [c.title, c.id] } %></td>
  </tr>
<% end %>
<% fields_for @permission do |permission| %>
  <% # Global only permissions %>
  <% if params[:type] || @permission.new_record? %>
    <tr>
      <td colspan='10'><h3>Section Access</h3></td>
    </tr>
    <tr>
      <% sections.each_with_index do |section, count| %>
        <td width='20px'><%= permission.check_box "can_access_#{section}_section" %></td>
        <td><%= permission.label "can_access_#{section}_section", t("can_access_#{section}_section?") %></td>
        <%= break_row(count) %>
      <% end %>
      
      <% managements.each_with_index do |management, count| %>
        <td width='20px'><%= permission.check_box "can_manage_#{management}" %></td>
        <td><%= permission.label "can_manage_#{management}", t("can_manage_#{management}?") %></td>
        <% # Magic number "3" is because of 5 columns - the 2 sections = 3 %>
        <%= break_row(count-3) %>
      <% end %>
      
      <% 4.times do %>
        <td>&nbsp;</td>
      <% end %>
    </tr>
  <% end %>
    
    <tr>
      <td colspan='10'><h3>System-wide Permissions</h3></td>
    </tr>
    
    <% global_permissions.each_with_index do |action, count| %>
      <td width='20px'><%= permission.check_box action %></td>
      <td><%= permission.label action, t("#{action}?") %></td>
      <%= break_row(count) %>
    <% end %>
  <% end %>
    
  <% # Global or local permissions %>
  
  <tr>
    <td colspan='10'><h3>Forum Permissions</h3></td>
  </tr>
  <tr>
    <% forum_permissions.each_with_index do |action, count| %>
      <%= @permission.id %>
      <td width='20px'><%= permission.check_box action %></td>
      <td><%= permission.label action, t("#{action}?") %></td>
      <%= break_row(count) %>
    <% end %>

  </tr>


<% end %>