- if params[:type] == "category"
  %tr
    %td{:class => stripe }= f.label "category_id", t(:Category)
    %td{:class => stripe, :colspan => "9"}= f.select "category_id", @categories.map { |c| [c.name, c.id] }
- elsif params[:type] == "forum"
  %tr
    %td{:class => stripe }= f.label "forum_id", t(:Forum)
    %td{:class => stripe, :colspan => "9"}= f.select "forum_id", @forums.map { |c| [c.title, c.id] }
- fields_for @permission do |permission|
  - ## Global only permissions
  - if !params[:type]
    %tr
      %td{:colspan => "10", :class => "header"}
        %h3= t(:Section_access)
    - sections.in_groups_of(5, false) do |sections|
      %tr
        - for section in sections
          %td{:width => "20px", :class => stripe }= permission.check_box "can_access_#{section}_section"
          %td{ :class => stripe }= permission.label "can_access_#{section}_section", t("can_access_#{section}_section?")
        - for management in managements[0..2]
          = render :partial => "admin/permissions/management", :locals => { :management => management, :permission => permission }
    - managements[2..-1].in_groups_of(5, false) do |managements|
      %tr
        - for management in managements
          = render :partial => "admin/permissions/management", :locals => { :management => management, :permission => permission }
    %tr
      %td{:colspan => "10", :class => "header"}
        %h3= t(:Systemwide_Permissions)
    - global_permissions.each_with_index do |action, count|
      %td{:width => "20px", :class => stripe }= permission.check_box action
      %td{ :class => stripe }= permission.label action, t("#{action}?")
      = break_row(count)
  - ## Global or local permissions
  %tr
    %td{:colspan => "10", :class => "header"}
      %h3= t(:Forum_Permissions)
  %tr
    - forum_permissions.each_with_index do |action, count|
      %td{ :class => stripe, :width => "20px"}= permission.check_box action
      %td{ :class => stripe }= permission.label action, t("#{action}?")
      = break_row(count)
