<% form_for [:admin, @object, @permission] do |f| %>
  <%= error_messages_for :permission %>
  <table cellspacing='0' cellpadding='2' width='100%' class='action-box'>
    <thead>
      <tr>
        <td colspan='10'>
          <h2><%= t(:Editing_a_permission) %> <%= t(:for) %> <%= @permission.group %>
            <% if !@permission.forum.nil? %>
              <%= t(:for) %> Forum: <%= @permission.forum %>
            <% end %></h2>
        </td>
      </tr>
    </thead>
      <%= render :partial => "form", :locals => { :f => f } %>
    <tfoot>
      <tr><td colspan='10'><%= submit_tag t(:Update) %></td></tr>
    </tfoot>
  </table>
<% end %>