<%= link_to t(:Administration_Section), admin_root_path %> -> <%= link_to @object, [:admin, @object] %> -> <%= t(:Permissions) %>
<h2><%= t(:Permissions) %> for <%= @object %></h2>

<% if @object.is_a?(Group) %>
  <h3><%= t(:Global_Permissions) %></h3>
  <%= link_to "Edit Global Permissions", edit_admin_group_path(@object) %>
  <table cellspacing='0' cellpadding='3' width='100%' class='list-table' rules='groups'>
    <thead>
      <tr>
        <td><%= t(:can_see_forum?) %></td>
        <td><%= t(:can_see_category?) %></td>
        <td><%= t(:can_reply_to_topics?) %></td>
        <td><%= t(:can_start_new_topics?) %></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= theme_image_tag(@object.permissions.global.can_see_forum?.to_s + ".jpg") %></td>
        <td><%= theme_image_tag(@object.permissions.global.can_see_category?.to_s + ".jpg") %></td>
        <td><%= theme_image_tag(@object.permissions.global.can_reply_to_topics?.to_s + ".jpg") %></td>
        <td><%= theme_image_tag(@object.permissions.global.can_start_new_topics?.to_s + ".jpg") %></td>
      </tr>
    </tbody>
  </table>
  <br />

  <% if @forum_count.zero? %>
    <h3><%= t(:No_forums_to_assign_specific_permissions_to) %></h3>
  <% end %>
  <h3><%= t(:Forum_specific_permissions) %></h3>
  <%= link_to t(:New, :thing => t(:Forum_specific_permissions)), new_admin_group_permission_path(@object, :type => "forum") %>
  <table cellspacing='0' cellpadding='3' width='100%' class='list-table' rules='groups'>
    <% if @object.permissions.forums.empty? %>
      <thead>
        <tr>
          <td><b><%= t(:No_forum_specific_permissions) %></b></td>
        </tr>
      </thead>
    <% else %>
      <thead>
        <tr>
          <td>&nbsp;</td>
          <td><%= t(:Title) %></td>
          <td><%= t(:can_see_forum?) %></td>
          <td><%= t(:can_see_category?) %></td>
          <td><%= t(:can_reply_to_topics?) %></td>
          <td><%= t(:can_start_new_topics?) %></td>
        </tr>
      </thead>
      <tbody>
        <% for permission in @object.permissions.forums %>
          <td>
            <%= link_to theme_image_tag("edit.jpg"), [:admin, @object, permission] %>
            <%= link_to theme_image_tag("delete.jpg"), [:admin, @object, permission], :method => "delete"%>
          </td>
          <td><%= permission.forum %></td>
          <td><%= theme_image_tag(permission.can_see_forum?.to_s + ".jpg") %></td>
          <td><%= theme_image_tag(permission.can_see_category?.to_s + ".jpg") %></td>
          <td><%= theme_image_tag(permission.can_reply_to_topics?.to_s + ".jpg") %></td>
          <td><%= theme_image_tag(permission.can_start_new_topics?.to_s + ".jpg") %></td>
        <% end %>
      </tbody>
    <% end %>
    </thead>
  </table>
  <br />
  
  <% if @category_count.zero? %>
    <h3><%= t(:No_categories_to_assign_specific_permissions_to) %></h3>
  <% else %>
    <h3><%= t(:Category_specific_permissions) %></h3>
    <%= link_to t(:New, :thing => t(:Category_specific_permissions)), new_admin_group_permission_path(@object, :type => "category") %>
    <table cellspacing='0' cellpadding='3' width='100%' class='list-table' rules='groups'>
      <% if @object.permissions.categories.empty? %>
        <thead>
          <tr>
            <td><b><%= t(:No_category_specific_permissions) %></b></td>
          </tr>
        </thead>
      <% else %>
        <thead>
          <tr>
            <td><%= t(:Title) %></td>
            <td><%= t(:can_see_forum?) %></td>
            <td><%= t(:can_see_category?) %></td>
            <td><%= t(:can_reply_to_topics?) %></td>
            <td><%= t(:can_start_new_topics?) %></td>
          </tr>
        </thead>
        <tbody>
          <% for permission in @object.permissions.forums %>
            <td><%= permission.forum %></td>
            <td><%= theme_image_tag(permission.can_see_forum?.to_s + ".jpg") %></td>
            <td><%= theme_image_tag(permission.can_see_category?.to_s + ".jpg") %></td>
            <td><%= theme_image_tag(permission.can_reply_to_topics?.to_s + ".jpg") %></td>
            <td><%= theme_image_tag(permission.can_start_new_topics?.to_s + ".jpg") %></td>
          <% end %>
        </tbody>
      <% end %>
      </thead>
    </table>
  <% end %>
<% end %>