- form_for [:admin, @object, @permission] do |f|
  = error_messages_for :permission
  %table.listing.permissions{:cellpadding => "2", :cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %td{:colspan => "10"}
          %h2
            = t(:New, :thing => "permission")
            = t(:for)
            = t(:a)
            = params[:type]
    = render :partial => "form", :locals => { :f => f }
    %tfoot
      %tr
        %td{:colspan => "10"}= submit_tag t(:Create)
