- if request.post?
  = t(:Search_returned)
  == #{t(:results, :count => @posts.count)}:
  - @posts.group_by(&:topic).each do |topic, posts|
    .topic
      %h2
        = t(:In)
        = breadcrumb(topic.forum)
        \&raquo;
        = link_to topic, [topic.forum, topic]
      .posts.listing
        - for post in posts
          = render :partial => post
