<tbody>
  <tr>
    <td colspan='2' class='errors'><%= error_messages_for :rank %></td>
  </tr>

  <tr>
    <td><%= f.label "name", t(:Name) %></td>
    <td><%= f.text_field "name" %></td>
  </tr>

  <tr>
    <td><%= f.label "posts_required", t(:Posts_Required) %></td>
    <td><%= f.text_field "posts_required", :size => 3 %></td>
  </tr>

  <tr>
    <td><%= f.label "custom", t(:Custom_Rank) %></td>
    <td><%= f.check_box "custom" %></td>
  </tr>
</tbody>