.breadcrumbs
  = link_to t(:Administration_Section), admin_root_path
  %span &raquo; #{t(:Ranks)}
%h2 Ranks
= link_to t(:New, :thing => "Rank"), new_admin_rank_path
%table.listing.ranks{:cellpadding => "3", :cellspacing => "0", :rules => "groups", :width => "100%"}
  %thead
    %tr
      %td &nbsp;
      %td= t(:Name)
      %td= t(:Posts_Required)
      %td= t(:Custom_Rank)
  %tbody
    - unless @ranks.empty?
      - for rank in @ranks
        %tr{ :class => stripe }
          %td.icon
            = link_to(theme_image_tag("edit.png"), edit_admin_rank_path(rank))
            = link_to(theme_image_tag("delete.png"), admin_rank_path(rank), :method => "delete", :confirm => t(:confirm_deletion, :thing => "rank"))
          %td= rank.name
          %td= rank.posts_required.nil? ? t(:none) : rank.posts_required
          %td= rank.custom ? t(:yes) : t(:no)
    - else
      %tr
        %td{:colspan => "4", :align => "center", :class => "even"}
          %b
            = t(:no_ranks)
            = link_to t(:user_should_create), new_admin_rank_path
