<%= link_to t(:Moderator_Section), moderator_root_path %> -> <%= t(:Edit_History) %> <%= t(:for_a_post) %>
<h2><%= t(:Edit_History) %></h2>
<table cellspacing='0' cellpadding='0' class='forums' width='100%'>
  <thead>
    <tr>
      <td><%= t(:Timestamp) %></td>
      <td>Edited By</td>
      <td>IP</td>
    </tr>
  </thead>
  <tbody>
    <% for edit in @edits %>
      <tr>
        <td><%= link_to edit.created_at.strftime(date_display + " " + time_display), [@post, edit] %></td>
        <td><%= edit.user.login %></td>
        <td><%= edit.ip %></td>
      </tr>
    <% end %>
  </tbody>
</table>