<%= link_to t(:moderator_section), moderator_root_path %> -> <%= t(:Viewing_a_revision) %>
<h2>Edit History</h2>
<%= link_to "Back", [@post, :edits] %>
<table cellspacing='0' cellpadding='0' class='forums' width='100%'>
  <thead>
    <tr>
      <td>Original Content</td>
      <td>New Content</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @edit.original_content %></td>
      <td><%= @edit.current_content %></td>
    </tr>
  </tbody>
</table>