.breadcrumbs
  = link_to(t(:rBoard), moderator_root_path)
  \&raquo; #{link_to t(:Topics), moderator_topics_path} &raquo; #{t(:Merging)}
- form_tag merge_moderator_topics_path, :method => :put do
  %table.action-box{:cellpadding => "2", :cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %td{:colspan => "2"}
          %h2= t(:Merging)
      %tbody
        %tr
          %td
            %b= t(:Master_topic)
            %br
            - for topic in @topics
              = radio_button_tag "master_topic_id", topic.id, false, :onclick => "jQuery('new_subject').value = '#{topic.subject}'"
              = label_tag "master_topic_id_#{topic.id}", topic.subject
              %br
            = label_tag "new_subject", t(:New, :thing => "subject")
            = text_field_tag "new_subject"
            %br
            = submit_tag t(:Merge)
