<%= link_to(t(:rBoard), moderator_root_path) %> -> <%= link_to t(:Topics), moderator_topics_path %> -> <%= t(:Merging) %>
<% form_tag merge_moderator_topics_path, :method => :put do %>
  <table cellspacing='0' cellpadding='2' class='action-box' width='100%'>
    <thead>
      <tr>
        <td colspan='2'><h2><%= t(:Merging) %></h2></td>
      </tr>
    <tbody>
      <tr>
        <td>
          <b><%= t(:Master_topic) %></b><br />
          <% for topic in @topics %>
            <%= radio_button_tag "master_topic_id", topic.id, false, :onclick => "$('new_subject').value = '#{topic.subject}'" %> <%= topic.subject %><br />
          <% end %>
          <%= label_tag "new_subject", t(:New_subject) %><%= text_field_tag "new_subject" %><br />
          <%= submit_tag t(:Merge) %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>