%tbody
  %tr
    %td{:width => "100px"}= f.label 'subject', t(:Subject)
    %td= f.text_field 'subject'
  - fields_for @post do |post|
    %tr
      %td{:valign => "top"}= post.label 'text', t(:Text)
      %td= post.text_area "text", :cols => "80"
  - if current_user.can?(:post_stickies, @forum)
    %tr
      %td= f.label 'sticky', t(:Sticky)
      %td= f.check_box "sticky"
  - for post_attachment in @post.attachments
    - fields_for post_attachment, :index => @post.attachments.index(post_attachment) do |attachment|
      %tr
        %td{ :valign => "top"}= attachment.label 'file', t(:File)
        %td=attachment.file_field 'file'
