<tbody>
  <tr>
    <td width='100px'><%= f.label 'subject', t(:Subject) %></td>
    <td><%= f.text_field 'subject' %></td>
  </tr>
  
  <% fields_for @post do |post| %>
    <tr>
      <td valign='top'><%= post.label 'text', t(:Text) %></td>
      <td><%= post.text_area "text", :cols => "80" %></td>
    </tr>
  <% end %>
  <% if current_user.can?(:use_attachments, @forum) %>
    <tr>
      <td><%= check_box_tag "attachments" %></td>
      <td><%= label_tag "attachments", t(:I_have_attachments) %></td>
    </tr>
  <% end %>
  
  <% if current_user.can?(:post_stickies, @forum) %>
    <tr>
      <td><%= f.check_box "sticky" %></td>
      <td><%= f.label 'sticky', t(:Sticky) %></td>
    </tr>
  <% end %>
</tbody>