= link_to(t(:rBoard), forums_path)
\->
= breadcrumb(@forum)
\->
= t(:Creating_a_topic)
= error_messages_for :post, :topic
- form_for [@forum, @topic] do |f|
  %table.action-box{ :cellspacing => "0", :cellpadding => "2", :width => "100%" }
    %thead
      %tr
        %td{ :colspan => "2" }
          %h2
            = t(:Creating_a_topic)
            = t(:in)
            \:
            = @forum.title
    = render :partial => "form", :locals => { :f => f }
    %tfoot
      %tr
        %td{ :colspan => "2" }
          = submit_tag(t(:Create))
