  <%= link_to("rBoard", forums_path) %> -> <%= link_to @forum.title, forum_path(@forum) %> -> Creating a Topic
  <%= error_messages_for 'post', 'topic' %>
  <% form_tag :action => "create" do %>
  <table cellspacing='0' cellpadding='2' width='100%' class='action-box'>
  <thead>
  <tr><td colspan='2'>
<h2>Creating a new topic in: <%= @forum.title %></h2></td></tr></thead>
<%= render :partial => "form" %>
<tfoot><tr><td colspan='2'>
<%= submit_tag("Create") %>
</td></tr></tfoot>
</table>
<% end %>