- @title = t(:Viewing_topic, :forum => @forum, :topic => @topic)
- content_for :feed do
  %link{:href => forum_topic_url(@topic.forum, @topic, :format => :rss), :rel => "alternate", :title => "#{@topic.subject} Feed", :type => "application/rss+xml"}
%span.breadcrumbs
  = link_to(t(:rBoard), forums_path)
  \&raquo; #{breadcrumb(@topic.forum)} &raquo; #{link_to(@topic.subject, forum_topic_path(@forum, @topic))}
.topic
  %h2= link_to(@topic.subject, forum_topic_path(@forum, @topic))
  = pagination = will_paginate(@posts)
  = menu_for_topic
  - if current_user.can?(:view_reports, @forum)
    .warning
      = t(:Topic_has_been_reported, :count => @topic.reports.count)
      = link_to t(:See_reports), moderator_topic_reports_path(@topic)
  .posts.listing
    = render :partial => @posts, :locals => { :show_topic => false }
  - if current_user.can?(:reply)
    #quick-reply{:cellpadding => "2", :cellspacing => "0", :width => "100%"}
      %h3= t(:Quick_Reply)
      - form_for [@topic, @post] do |f|
        = render :partial => "posts/form", :locals => { :f => f, :rows => 10, :cols => 70, :submit => "Reply", :label => false }
  = menu_for_topic
  = pagination
