<%= link_to("rBoard", forums_path) %> <%= breadcrumb(@topic.forum) %> -> <%= @topic.subject %>
<h2><%= @topic.subject %></h2>
<%= pagination = will_paginate(@posts) %>
<%= render :partial => "menu" %>
<br />
<%= render :partial => @posts %>
<table class='action-box' width='100%' cellpadding='2' cellspacing='0'>
  <thead>
    <tr>
      <td colspan='2'><h3>Quick Reply</h3></td>
    </tr>
  </thead>
  <tbody>
    <% form_for [@topic, @post] do |f| %>
      <%= render :partial => "posts/form", :locals => { :f => f, :rows => 10, :cols => 70 } %>
    <% end %>
  </tbody>
</table>
<%= render :partial => "menu" %>
<%= pagination %>