<% content_for :feed do %>
  <link rel="alternate" type="application/rss+xml" title="<%= @topic.subject %> Feed" href="<%= forum_topic_url(@topic.forum, @topic, :format => :rss) %>" />
<% end %>

<%= link_to(t(:rBoard), forums_path) %> -> <%= breadcrumb(@topic.forum) %> -> <%= h @topic.subject %>
<h2><%= h @topic.subject %></h2>
<%= pagination = will_paginate(@posts) %>
<%= render :partial => "menu" %>
<br />
<%= render :partial => @posts %>
<% if logged_in? %>
  <table class='action-box' width='100%' cellpadding='2' cellspacing='0'>
    <thead>
      <tr>
        <td colspan='2'><h3><%= t(:Quick_Reply) %></h3></td>
      </tr>
    </thead>
    <tbody>
      <% form_for [@topic, @post] do |f| %>
        <%= render :partial => "posts/form", :locals => { :f => f, :rows => 10, :cols => 70 } %>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= render :partial => "menu" %>
<%= pagination %>