.breadcrumbs
  = link_to t(:Administration_Section), admin_root_path
  \&raquo; #{t(:IPs)} &raquo; #{link_to @ip, admin_ip_path(@ip)} &raquo; #{t(:Topics)}
%h2
  = t(:Topics)
  = t(:for)
  = link_to @ip, admin_ip_path(@ip)
%table.list-table{:cellpadding => "2", :cellspacing => "0", :rules => "groups", :width => "100%"}
  %thead
    %tr
      %td= t(:User)
      %td= t(:Subject)
      %td= t(:Created_at)
      %td= t(:Text)
      %td= t(:Forum)
  %tbody
    - unless @topics.empty?
      - for topic in @topics
        %tr
          %td= link_to topic.user, admin_user_path(topic.user)
          %td= link_to topic, forum_topic_path(topic.forum, topic)
          %td= topic.created_at.strftime(date_time_display)
          %td= link_to truncate(topic.posts.first.text, 80), forum_topic_path(post.topic.forum, post.topic) + "#post_#{topic.posts.first.id}"
          %td= link_to topic.forum, forum_path(topic.forum)
    - else
      %tr
        %td{:colspan => "4"}= t(:no_topics, :by => @ip)
  %tfoot
