<%= link_to t(:admin_section), admin_root_path %> -> <%= t(:IPs) %> -> <%= link_to @ip, admin_ip_path(@ip) %> -> <%= t(:Topics) %>
<h2><%= t(:Topics) %> <%= t(:for) %> <%= link_to @ip, admin_ip_path(@ip) %></h2>
<table cellspacing='0' cellpadding='2' class='list-table' width='100%' rules='groups'>
  <thead>
    <tr>
      <td><%= t(:User) %></td>
      <td><%= t(:Subject) %></td>
      <td><%= t(:Created_at) %></td>
      <td><%= t(:Text) %></td>
      <td><%= t(:Forum) %></td>
    </tr>
  </thead>
  <tbody>
    <% unless @topics.empty? %>
      <% for topic in @topics %>
        <tr>
          <td><%= link_to topic.user, admin_user_path(topic.user) %></td>
          <td><%= link_to topic, forum_topic_path(topic.forum, topic) %></td>
          <td><%= topic.created_at.strftime(date_time_display) %></td>
          <td><%= link_to truncate(topic.posts.first.text, 80), forum_topic_path(post.topic.forum, post.topic) + "#post_#{topic.posts.first.id}" %></td>
          <td><%= link_to topic.forum, forum_path(topic.forum) %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan='4'><%= t(:no_topics, :by => @ip) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>