= error_messages_for :user, :object => current_user
- form_for current_user, :html => { :multipart => true } do |f|
  %table.action-box{:cellpadding => "2", :cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %td{:colspan => "2"}
          %h2= t(:Editing_your_profile)
    %tbody
      %tr
        %td.label{:valign => "top"}= f.label "display_name", t(:Display_Name)
        %td.input= f.text_field :display_name
      %tr
        %td{:colspan => "2", :valign => "top"}
          %h3= t(:New, :thing => "password")
      %tr
        %td.label{:valign => "top"}= f.label "password", t(:New, :thing => "Password" )
        %td.input= f.password_field "password", :value => ""
      %tr
        %td.label{:valign => "top"}= f.label "password_confirmation", t(:New_Password_Confirmation)
        %td.input= f.password_field "password_confirmation", :value => ""
      %tr
        %td{:colspan => "2", :valign => "top"}
          %h3= t(:Forum_information)
      %tr
        %td.label{:valign => "top"}= f.label "signature", t(:Signature)
        %td.input= f.text_area "signature", :cols => 80, :rows => 5
      %tr
        %td.label{:valign => "top"}= f.label "email", t(:Email)
        %td.input= f.text_field "email"
      %tr
        %td.label{:valign => "top"}= f.label "time_zone", t(:Time_Zone)
        %td.input= f.time_zone_select "time_zone"
      %tr
        %td.label{:valign => "top"}
          %b= f.label "date_display", t(:Date_and_Time_Display)
        %td.input
          = f.text_field "date_display", :size => 10
          = f.text_field "time_display", :size => 10
          = link_to "read this for more information", "http://www.wetware.co.nz/blog/2009/07/rails-date-formats-strftime/"
      %tr
        %td.label{:valign => "top"}
          = label_tag "example_time_display", t(:Example_time_display)
        %td.input= Time.now.strftime(date_display + " " + time_display)
      - if @themes.size > 1
        %tr
          %td.label{:valign => "top"}= f.label 'theme_id', t(:Theme)
          %td= f.select "theme_id", @themes.map { |t| [t.name.titleize, t.id] }
      %tr
        %td.label{:valign => "top"}= f.label 'per_page', t(:Items_per_page)
        %td.input= f.text_field "per_page", :size => 3
      - if current_user.email
        %tr
          %td.label{:valign => "top"}
            = label_tag "current", t(:Current) + " " + link_to("Gravatar", "http://gravatar.com")

          %td.input
            = image_tag "http://www.gravatar.com/avatar.php?gravatar_id=" + Digest::MD5.hexdigest(current_user.email)
      - if current_user.has_avatar?
        %tr
          %td.label{:valign => "top"}
            = label_tag "current_avatar", t(:Current_avatar)
          %td.input
            = image_tag current_user.avatar(:thumbnail)
      %tr
        %td.label{:valign => "top"}
          = label_tag "Upload new avatar", t(:Upload_new_avatar)
        %td.input
          = f.file_field :avatar
    %tfoot
      %tr
        %td{:colspan => "2"}= submit_tag t(:Update)
