<h2>List of Users</h2>
<%= will_paginate @users %>
<table cellspacing='0' cellpadding='2' class='forums' width='100%' rules='groups'><thead>
    <tr>
      <td align='center'>Login</td>
      <td align='center'>Member Since</td>
      <td align='center'>Posts</td>
      <td align='center'>Banned</td>
      <td align='center'>Banned Until</td>
      <td align='center'>Times Banned</td>
      <% if is_admin? %>
        <td align='center'>IP</td>
      <% end %>
      
  </tr></thead>
  <tbody>
    <% for user in @users %>
      <tr>
        <td align='center'><%= link_to(user.login, :controller => "users", :action => user.login) %></td>
        <td align='center'><%= user.created_at.strftime(date_display) %></td>
        <td align='center'><%= user.posts.size %></td>
        <td align='center'><%= !user.ban_time.nil? && user.ban_time > Time.now ? "Yes" : "No" %></td>
        <td align='center'><%= user.ban_time.nil? ? "Never" : user.ban_time.ordinalize %></td>
        <td align='center'><%= user.ban_times %></td>
        <% if is_admin? %>
          <td align='center'><%= user.ip %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
<%= will_paginate @users %>