%h2= t(:Users)
= will_paginate @users
%table.users.listing{:cellpadding => "2", :cellspacing => "0", :width => "100%"}
  %thead
    %tr
      %td= t(:Login)
      %td= t(:Member_since)
      %td= t(:Posts)
      %td= t(:Banned)
      %td= t(:Banned_until)
      %td= t(:Times_banned)
      - if current_user.can?(:manage_users)
        %td{:align => "center"}= t(:IP)
  %tbody
    - for user in @users
      %tr{ :class => stripe}
        %td= link_to user, user_path(user)
        %td= user.created_at.strftime(date_display)
        %td= user.posts.size
        %td= !user.ban_time.nil? && user.ban_time > Time.now ? t(:Yes) : t(:No)
        %td= user.ban_time.nil? ? t(:Never) : time_ago_in_words(user.ban_time)
        %td= user.ban_times
        - if current_user.can?(:manage_users)
          %td= user.ip
  %tfoot
= will_paginate @users
