<h2><%= t(:Users) %></h2>
<%= will_paginate @users %>
<table cellspacing='0' cellpadding='2' class='forums' width='100%' rules='groups'><thead>
    <tr>
      <td align='center'><%= t(:Login) %></td>
      <td align='center'><%= t(:Member_since) %></td>
      <td align='center'><%= t(:Posts) %></td>
      <td align='center'><%= t(:Banned) %></td>
      <td align='center'><%= t(:Banned_until) %></td>
      <td align='center'><%= t(:Times_banned) %></td>
      <% if current_user.can?(:manage_users) %>
        <td align='center'><%= t(:IP) %></td>
      <% end %>
      
  </tr></thead>
  <tbody>
    <% for user in @users %>
      <tr>
        <td align='center'><%= link_to user, user_path(user) %></td>
        <td align='center'><%= user.created_at.strftime(date_display) %></td>
        <td align='center'><%= user.posts.size %></td>
        <td align='center'><%= !user.ban_time.nil? && user.ban_time > Time.now ? t(:Yes) : t(:No) %></td>
        <td align='center'><%= user.ban_time.nil? ? t(:Never) : user.ban_time.strftime(:long_ordinal) %></td>
        <td align='center'><%= user.ban_times %></td>
        <% if current_user.can?(:manage_users) %>
          <td align='center'><%= user.ip %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
<%= will_paginate @users %>