%table.user{:cellpadding => "5", :cellspacing => "0", :width => "100%"}
  %thead
    %tr
      %td{:colspan => "2"}
        %h2{:style => "padding:0px;margin:0px"}= @user
  %tbody
    %tr
      %td{:valign => "top", :width => "20%"}
        - if @user.has_avatar?
          = image_tag @user.avatar(:thumbnail)
        - elsif !@user.email.blank?
          = image_tag("http://www.gravatar.com/avatar.php?gravatar_id=" + Digest::MD5.hexdigest(@user.email) + "&s=64", :class => "user_avatar")
          %br
      %td{:valign => "top"}
        %b
          = t(:Date_joined)
          \:
        = @user.created_at.strftime date_display
        %br
        %b
          = t(:Posts)
          \:
        = link_to(@user.posts.size.to_s + ", #{t(:about)} #{@posts_percentage}% #{t(:of_all_posts_on_this_forum)}", user_posts_path(@user), :id => "user_posts")
        %br
        %b
          = t(:Bans)
          \:
        = @user
        = t(:has_been_banned, :count => @user.ban_times)
        %br
        - if !@user.ban_time.nil? && @user.ban_time > Time.now
          %h2
            = t(:is_currently_banned, :user => @user)
            \!
          = t(:banned_by, :user => @user.banned_by.login)
          = t(:ban_expires_in, :time => time_ago_in_words(@user.ban_time))
          \.
          %br
          %br
          %i= t(:reason_stated_was, :reason => @user.ban_reason)
          %br
          %br
        - unless @user.signature.blank?
          %br
          ____________
          %br
          = parse_text(@user.signature)
