= error_messages_for :user
%h2= t(:Signup)
- form_for :user do |f|
  %p
    = f.label :login, t(:Login)
    %br
    = f.text_field :login
  %p
    = f.label :display_name, t(:Display_Name)
    %br
    = f.text_field :display_name
  %p
    = f.label :email, t(:Email)
    %br
    = f.text_field :email
  %p
    = f.label :password, t(:Password)
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation, t(:Confirm_Password)
    %br
    = f.password_field :password_confirmation
  %p= submit_tag t(:Signup)
