<%= error_messages_for :user %>
<table cellspacing='0' cellpadding='2' class='forums' width='100%' rules='groups'>
  <thead>
    <tr>
      <td align='left' width='40%'><b><%= t(:Signup) %></b></td>
    </tr>
  </thead>

  <tbody>
    <tr>
    <td align='left'>
      <% form_for :user do |f| -%>
        <p><label for="login"><%= t(:Login) %></label><br/>
        <%= f.text_field :login %></p>

        <p><label for="display_name"><%= t(:Display_Name) %></label><br />
        <%= f.text_field :display_name %></p>

        <p><label for="email"><%= t(:Email) %></label><br/>
        <%= f.text_field :email %></p>

        <p><label for="password"><%= t(:Password) %></label><br/>
        <%= f.password_field :password %></p>

        <p><label for="password_confirmation"><%= t(:Confirm_Password) %></label><br/>
        <%= f.password_field :password_confirmation %></p>

        <p><%= submit_tag t(:Signup) %></p>

      </td>
    </tbody>

    <tfoot>
    </tfoot>
  </table>
<% end -%>