<div class='action-box'>
  <h2><%= t(:Attachments) %></h2>
  <% flash.each do |key, value| %>
    <div class='attachment_message <%= key %>'><%= value %></div>
  <% end %>
  <% form_for [@forum, @attachment], :html => { :multipart => true } do |f| %>
    <%= hidden_field_tag :currently, params[:currently] %>
    <%= f.label :file %>
    <%= f.file_field :file %>
    <%= f.submit "Upload" %>
  <% end %>
  <h3>
  <ul>
    <% @attachments.each do |attachment| %>
      <li><%= attachment.file_file_name %></li>
    <% end %>
  </ul>
</div>