%h2
  - if @reportable
    = t(:Reports_for, :thing => report_text(@reportable))
  - else
    = t(:Recently_reported_posts_and_topics)
%table.list-table{:cellpadding => "5", :cellspacing => "0", :rules => "groups", :width => "100%"}
  - unless @reports.empty?
    %thead
      %tr
        %td &nbsp;
        - unless @reportable
          %td= t(:Topic_or_Post)
        %td= t(:Report)
        %td= t(:Reported_by)
        %td= t(:Reported_on)
    %tbody
      - if @reportable
        - for report in @reports
          %tr
            %td= link_to theme_image_tag("delete.png"), moderator_report_path(report), :confirm => t(:confirm_deletion, :thing => "report")
            %td= truncate(report.text, 100)
            %td= report.user
            %td= report.created_at.strftime(date_time_display)
      - else
        %tr
          %td
  - else
    %thead
      %tr
        %td{:colspan => "4"}
          %b There are no topics in your moderation queue.
