<h2>Subscriptions</h2>

<table cellspacing='0' cellpadding='2' class='forums' width='100%' rules='groups'>
  <thead>
    <tr>
      <td width='40px'>&nbsp;</td>
      <td align='left'><%= t(:Topic) %></td>
      <td align='center'><%= t(:Last_updated) %></td>
      <td align='center'><%= t(:Posts_since_last_visit) %></td>
    </tr>
  </thead>
  <tbody>
    <% unless @subscriptions.empty? %>
      <% for subscription in @subscriptions %>
        <tr>
          <td><%= link_to theme_image_tag("delete.jpg"), subscription, :method => :delete %>
          <td><%= link_to subscription.topic, [subscription.topic.forum, subscription.topic] %></td>
          <td align='center'><%= subscription.updated_at.strftime(date_time_display) %></td>
          <td align='center'><%= subscription.posts_count %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan='4' align='center'>
          <b>You have not subscribed to any topics.</b>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>