<%= link_to t(:admin_section) %> -> <%= t(:Themes) %>
<h2><%= t(:Themes) %></h2>
<table cellspacing='0' cellpadding='2' class='list-table' width='100%' rules='groups'>
  <thead>
    <tr>
      <td><%= t(:Name) %></td>
      <td><%= t(:Is_default) %></td>
    </tr>
  </thead>
  <tbody>
    <% unless @themes.empty? %>
        <% for theme in @themes %>
        <tr>
          <td><%= theme.name %></td>
          <td><% if theme.is_default? %>
              <%= t(:yes) %>
            <% else %>
              <%= link_to t(:make_default), make_default_admin_theme_path(theme), :method => "put" %>
            <% end %></td>
      
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan='4'><%= t(:no_themes) %></td></tr>
    <% end%>
  </tbody>
</table>