<%= link_to t(:Administration_Section), admin_root_path %> -> <%= t(:Configuration_Settings) %>
<h2><%= t(:Configuration_Settings) %></h2>
<%= link_to t(:New, :thing => "Group"), new_admin_group_path %>
<% form_for :configurations, :url => update_all_admin_configurations_path, :html => { :method => :put } do %>
  <table cellspacing='0' cellpadding='2' class='list-table' width='100%' rules='groups'>
    <thead>
      <tr>
        <td>Title</td>
        <td>Value</td>
        <td>Submit</td>
      </tr>
    </thead>
    <tbody>
      <% for configuration in @configurations %>
        <tr>
          <td class='lalign'><strong><%= configuration.title %></strong><br>
              <%= configuration.description %>
          </td>
          <% fields_for "configurations[]", configuration do |c| %>
            <td>
              <%= c.text_field :value %>
            </td>
          <% end %>
          <td><%= submit_tag "Update" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>