%tr
  %td.icon
    = link_to theme_image_tag("edit.jpg"), edit_admin_category_path(category)
    = link_to theme_image_tag("delete.jpg"), admin_category_path(category), :method => "delete", :confirm => t(:confirm_category_deletion)
  %td{ :style => "text-align:left !important" }
    = theme_image_tag("extender.jpg", :style => "padding-left:#{depth*20}px") if extender
    = link_to category.name, admin_category_path(category)
  %td
    = link_to(pluralize(category.forums.count, "forum"), admin_category_path(category))
  %td
    - unless category.first?
      = link_to theme_image_tag("top.jpg"), move_to_top_admin_category_path(category), :method => :put
      = link_to theme_image_tag("up.jpg"), move_up_admin_category_path(category), :method => :put
    = category.position
    - unless category.last?
      = link_to theme_image_tag("down.jpg"), move_down_admin_category_path(category), :method => :put
      = link_to theme_image_tag("bottom.jpg"), move_to_bottom_admin_category_path(category), :method => :put
= render :partial => category.children.sort_by(&:position), :locals => { :extender => true, :depth => depth+1 }
