<%= link_to t(:Administration_Section), admin_root_path %> -> <%= t(:Categories) %>
<h2><%= t(:Categories) %></h2>
<%= link_to t(:New, :thing => "Category"), new_admin_category_path %>
<table cellspacing='0' cellpadding='3' width='100%' class='list-table' rules='groups'>
  <% unless @categories.empty? %>
    <thead>
      <tr>
        <td>&nbsp;</td>
        <td><%= t(:Name) %></td>
        <td><%= t(:Description) %></td>
        <td><%= t(:Forums) %></td>
        <td><%= t(:Position) %></td>
      </tr>
    </thead>
    <tbody>
        <%= render :partial => @categories, :locals => { :depth => 0, :extender => false } %>
    </tbody>
  <% else %>
    <thead>
      <tr>
        <td colspan='3' align='center'><%= t(:no_categories) %> <%= link_to t(:user_should_create), new_admin_category_path %></td>
      </tr>
    </thead>
  <% end %>
</table>