= link_to t(:admin_section), admin_root_path
\->
= t(:Categories)
%h2
  = t(:Categories)
= link_to t(:New_Category), new_admin_category_path
%table.list-table{ :cellspacing => "0", :rules => "groups", :cellpadding => "3", :width => "100%" }
  - unless @categories.empty?
    %thead
      %tr
        %td
          \&nbsp;
        %td
          = t(:Name)
        %td
          = t(:Forums)
        %td
          = t(:Position)
    %tbody
      = render :partial => @categories, :locals => { :depth => 0, :extender => false }
  - else
    %thead
      %tr
        %td{ :align => "center", :colspan => "3" }
          = t(:no_categories)
          = link_to t(:user_should_create), new_admin_category_path
