= link_to t(:admin_section), admin_root_path
\->
= link_to(t(:Categories), admin_categories_path)
\->
= t(:Creating_a_category)
= error_messages_for :category
- form_for [:admin, @category] do |f|
  %table.action-box{ :cellspacing => "0", :cellpadding => "2", :width => "100%" }
    %thead
      %tr
        %td{ :colspan => "2" }
          %h2
            = t(:Creating_a_category)
    = render :partial => "form", :locals => { :f => f }
    %tfoot
      %tr
        %td{ :colspan => "2" }
          = f.submit t(:Create)
