<%= link_to t(:admin_section), admin_root_path %> -> <%= t(:Users) %> -> <%= @user %> -> IPs
<h2><%= t(:IPs, :for => @user) %></h2>
<table cellspacing='0' cellpadding='2' class='list-table' width='100%' rules='groups'>
  <thead>
    <tr>
      <td><%= t(:IP) %></td>
      <td><%= t(:Topics) %></td>
      <td><%= t(:Posts) %></td>
      
    </tr>
  </thead>
  <tbody>
    <% for ip in @ips %>
      <tr>
        <td><%= link_to ip.ip, admin_ip_path(ip) %></td>
        <td><%= link_to t(:topics, :count => ip.topics.count), admin_ip_topics_path(ip) %></td>
        <td><%= link_to t(:posts, :count => ip.posts.count), admin_ip_posts_path(ip) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>