.breadcrumbs
  = link_to t(:Administration_Section), admin_root_path
  \&raquo; #{t(:IPs)} &raquo; #{@ip}
%h2= @ip
%table.list-table{:cellpadding => "2", :cellspacing => "0", :rules => "groups", :width => "100%"}
  %thead
    %tr
      %td= t(:IP)
      %td= t(:Topics)
      %td= t(:Posts)
      %td= t(:Users)
  %tbody
    %tr
      %td= link_to @ip.ip, admin_ip_path(@ip)
      %td= link_to t(:topics, :count => ip.topics.count), admin_ip_topics_path(@ip)
      %td= link_to t(:posts_counter, :count => ip.posts.count), admin_ip_posts_path(@ip)
      %td= link_to t(:users, :count => ip.users.count), admin_ip_users_path(@ip)
  %tfoot
