%p 
  - if label
    = f.label 'text', t(:Text)
    %br
  = f.text_area 'text', :cols => 140, :rows => 10
- if current_user.can?(:edit_posts, @forum) && !@post.new_record?
  %p
    = f.label 'edit_reason', t(:edit_reason)
    = f.text_field 'edit_reason'
  %p
    = check_box_tag 'silent_edit'
    = label_tag 'silent_edit', t(:Edit_silently?)
%p
  - if local_assigns[:submit]
    = submit_tag(t(local_assigns[:submit].to_sym))
  - elsif @post.new_record?
    = submit_tag(t(:Create))
  - else
    = submit_tag(t(:Update))
