<tbody>
  <tr>
    <td valign='top'>
      <b>Post:</b>
    </td>
    <td>
      <%= f.text_area 'text', :cols => 90 %>
    </td>
  </tr>
  
  <% if is_admin? && !@post.new_record? %>
    <tr>
      <td colspan='2'>
        <%= f.label 'edit_reason' %>
        <%= f.text_field 'edit_reason' %>
      </td>
    </tr>
    <tr>
      <td colspan='2'>
        <%= check_box_tag 'silent_edit' %>
        <%= label_tag 'silent_edit', 'Edit silently?' %>
      </td>
    </tr>
  <% end %>
  
</tbody>
<tfoot>
  <tr>
    <td colspan='2'><%= submit_tag("Create") %></td>
  </tr>
</tfoot>
