<tbody>
  <tr>
    <td valign='top'>
      <b><%= t(:Post) %>:</b>
    </td>
    <td>
      <%= f.text_area 'text', :cols => (cols || 70), :rows => (rows || 20) %>
    </td>
  </tr>
  
  <% if current_user.can?(:edit_posts, @forum) && !@post.new_record? %>
    <tr>
      <td colspan='2'>
        <%= f.label 'edit_reason', t(:edit_reason) %>
        <%= f.text_field 'edit_reason' %>
      </td>
    </tr>
    
    <tr>
      <td colspan='2'>
        <%= check_box_tag 'silent_edit', t(:silent_edit) %>
        <%= label_tag 'silent_edit', t(:Edit_silently?) %>
      </td>
    </tr>
  <% end %>
  
</tbody>
<tfoot>
  <tr>
    <td colspan='2'><%= submit_tag(t(:Create)) %></td>
  </tr>
</tfoot>
