- if show_topic
  %h2
    = t(:In)
    = breadcrumb(post.forum)
    \&raquo;
    = link_to post.topic, [post.topic.forum, post.topic]
.post{:id => "post_#{post.id}"}
  .user_info
    .user_name= link_to(h(post.user), post.user)
    - if post.user.has_avatar?
      = image_tag post.user.avatar(:thumbnail, :class => "user_avatar")
    - elsif !post.user.email.blank?
      = image_tag("http://www.gravatar.com/avatar.php?gravatar_id=" + Digest::MD5.hexdigest(post.user.email) + "&s=64", :class => "user_avatar")
    /%dd.user_rank= post.user.rank
    /%dd.user_posts
    /  %span.field_name
    /    = t(:Posts)
    /    \:
    /  = post.user.posts.size
    /%dd.user_joined
    /   %span.field_name
    /     = t(:Date_joined)
    /     \:
    /   %br
    /   = post.user.created_at.strftime(date_display)
    / %dd.user_online
    /   %span.field_name
    /     = t(:Online)
    /     \:
    /   = post.user.online? ? t(:Yes) : t(:No)
  .post_body
    .post_info
      .post_details
        %a{:href => forum_topic_path(post.topic.forum, post.topic) + "/#{(params[:page] || 1)}" + "#post_#{post.id}", :name => "post_#{post.id}"}
          \#
          = post.number
        \-
        = post.created_at.strftime(date_time_display)
        - unless post.edits.empty?
          \-
          = link_to pluralize(post.edits.size, "edit"), post_edits_path(post)
      .post_actions{ :id => "post_#{post.number}_actions" }
        - if !post.topic.locked? || (post.topic.locked? && current_user.can?(:edit_locked_topics, @forum))
          - if current_user.can?(:reply, @forum)
            = link_to t(:Reply), new_topic_post_path(post.topic)
            \|
            = link_to t(:Quote), reply_topic_post_path(post.topic, post)
          - if (post.belongs_to?(current_user) && current_user.can?(:edit_own_posts, @forum)) || current_user.can?(:edit_posts, @forum)
            \|
            = link_to t(:Edit), edit_topic_post_path(post.topic, post)
          - if (post.belongs_to?(current_user) && current_user.can?(:delete_own_posts, @forum)) || current_user.can?(:delete_posts, @forum)
            \|
            = link_to t(:Delete), topic_post_path(post.topic, post), :method => "delete", :confirm => t(:confirm_deletion, :thing => "post")
          - if current_user.can?(:split_topics, @forum)
            \|
            = link_to t(:Split), split_moderator_topic_post_path(post.topic, post)
        - else
          = t(:topic_locked_or_unlocked, :status => "locked")
      .clear
    .post_content
      = parse_text(post.text)
    - if post.user.can?(:use_signature, @forum) && !post.user.signature.blank?
      .user_signature
        %br
        ______________
        %br
        = parse_text(post.user.signature)
    - edits = current_user.can?(:see_hidden_edits, @forum) ? post.edits : post.edits.visible
    - unless edits.empty?
      %span.edit-note
        == #{t(:This_post_was_edited_by)} #{post.editor.login} #{time_ago_in_words(post.updated_at)} #{t(:ago)}
  .clear
