<% if show_topic %>
  <h2><%= t(:In) %> <%= breadcrumb(post.forum) %> -> <%= link_to post.topic, [post.topic.forum, post.topic] %></h2>
<% end %>
<table cellspacing='0' cellpadding='5' width='100%' class='post' id='post_<%= post.id %>'>
  <thead>
    <tr>
      <td rowspan='2' valign='top' width='15%'><b><%= post.user.to_s %></b></td>
      <td valign='top'>
        <a name='post_<%= post.id %>' href='<%= forum_topic_path(post.topic.forum, post.topic) + "/#{(params[:page] || 1)}" + "#post_#{post.id}" %>'>
        #<%= per_page * ((params[:page] || 1).to_i - 1) + post_counter + 1 %></a> - <%= post.created_at.strftime(date_time_display) %>
        <% unless post.edits.empty? %> - <%= link_to pluralize(post.edits.size, "edit"), post_edits_path(post) %><% end %>
      </td>
      <td align='right' valign='top'>
        <% if !post.topic.locked? || (post.topic.locked? && current_user.can?(:edit_locked_topics, @forum)) %>
	        <% if current_user.can?(:reply, @forum) %>
            <%= link_to t(:Reply), new_topic_post_path(post.topic) %> |
            <%= link_to t(:Quote), reply_topic_post_path(post.topic, post) %> 
          <% end %>
          
          <% if (post.belongs_to?(current_user) && current_user.can?(:edit_own_posts, @forum)) || current_user.can?(:edit_posts, @forum) %>
            | <%= link_to t(:Edit), edit_topic_post_path(post.topic, post) %> |
          <% end %>
          <% if (post.belongs_to?(current_user) && current_user.can?(:delete_own_posts, @forum)) || current_user.can?(:delete_posts, @forum) %>
            <%= link_to t(:Delete), topic_post_path(post.topic, post), :method => "delete", :confirm => t(:confirm_post_deletion) %>
          <% end %>
          
          <% if current_user.can?(:split_topics, @forum) %>
            | <%= link_to t(:Split), split_moderator_topic_post_path(post.topic, post) %>
          <% end %>
        <% else %>
          Locked
        <% end %>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td valign='top' width='20%'>
        <b><%= post.user.rank %><br /></b>
        <% if post.user.has_avatar? %>
          <%= image_tag post.user.avatar(:thumbnail) %><br />
        <% elsif !post.user.email.blank? %>
          <%= image_tag("http://www.gravatar.com/avatar.php?gravatar_id=" + Digest::MD5.hexdigest(post.user.email) + "&default=") %><br />
        <% end %>
        <b><%= t(:Posts) %>:</b> <%= post.user.posts.size %><br />
        <b><%= t(:Date_joined) %>:</b> <%= post.user.created_at.strftime(date_display) %><br />
        <b><%= t(:Online) %>:</b> <%= post.user.online? ? t(:Yes) : t(:No) %>
      </td>
      
      <td valign='top' colspan='2' valign='top'>
			  <%= bbcode(post.text) %>
			  <% if post.user.can?(:use_signature, @forum) && !post.user.signature.blank? %><br />
			    ____________<br />
			    <%= bbcode(post.user.signature) %>
		  	<% end %>
			
		  	<% if !post.edits.empty? %>
			    <br /><br />
		  	  <span class='edit-note'><%= t(:This_post_was_edited_by) %> <%= post.editor.login %> <%= time_ago_in_words(post.updated_at) %> <%= t(:ago) %></span>
	  		<% end %>
		  </td>
    </tr>
  </tbody>
</table>