= error_messages_for 'post'
%h2
  = t(:Editing_a_reply_in)
  = @topic.subject
- form_for [@topic, @post] do |f|
  .post
    = hidden_field_tag("quote", params[:quote])
    = render :partial => "form", :locals => { :f => f, :cols => 70, :rows => 20, :label => true }
.posts.listing
  = render :partial => @posts, :locals => { :show_topic => false }
