= error_messages_for 'post'
- form_for [@topic, @post] do |f|
= hidden_field_tag("quote", params[:quote])
  %table.action-box{ :cellspacing => "0", :cellpadding => "2", :width => "100%" }
    %thead
      %tr
        %td{ :colspan => "2" }
          %h2
            = t(:Replying_to_topic)
            \:
            = @topic.subject
    %tbody
      %tr
        %td{ :valign => "top" }= f.label "text", t(:Post)
        %td= f.text_area("text", :cols => "80")
    %tfoot
      %tr
        %td{ :colspan => "2" }= submit_tag(t(:Create))
%table.posts{ :cellspacing => "0", :cellpadding => "5", :width => "100%" }
  = render :collection => @posts
