<%= error_messages_for 'post' %>
<% form_for [@topic, @post] do |f| %>
  <%= hidden_field_tag :currently, params[:currently] %>  
  <%= hidden_field_tag("quote", params[:quote]) %>
  <table cellspacing='0' cellpadding='2' class='action-box' width='100%'>
    <thead>
      <tr>
        <td colspan='2'><h2><%= t(:Replying_to_topic) %>: <%= @topic.subject %></h2></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td valign='top'><%= f.label "text", t(:Post) %>:</td>
        <td><%= f.text_area("text", :cols => "80") %></td>
      </tr>
      
      <% if current_user.can?(:use_attachments, @forum) %>
        <tr>
          <td><%= check_box_tag "attachments" %></td>
          <td><%= label_tag "attachments", t(:I_have_attachments) %></td>
        </tr>
      <% end %>

    </tbody>
    <tfoot>
      <tr>
        <td colspan='2'><%= submit_tag(t(:Create)) %></td>
      </tr>
    </tfoot>
  </table>
<% end %>

<table cellspacing='0' cellpadding='5' width='100%' class='posts'>
  <%= render :collection => @posts %>
</table>