= error_messages_for 'post'
- form_for [@topic, @post] do |f|
  = hidden_field_tag("quote", params[:quote])
  %table.action-box{:cellpadding => "2", :cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %td{:colspan => "2"}
          %h2
            = t(:Replying_to_topic)
            \:
            = @topic.subject
    %tbody
      %tr
        %td{:valign => "top"}
          = f.label "text", t(:Post)
          \:
        %td= f.text_area("text", :cols => "140")
    %tfoot
      %tr
        %td{:colspan => "2"}= submit_tag(t(:Create))
%table.posts{:cellpadding => "5", :cellspacing => "0", :width => "100%"}
  = render :collection => @posts
