<table cellspacing='0' cellpadding='3' width='100%' class='list-table' rules='groups'>
  <% unless @forums.empty? %>
    <thead>
      <tr>
        <td>&nbsp;</td>
        <td><%= t(:Title) %></td>
        <td><%= t(:Is_visible_to) %></td>
        <td><%= t(:Creator_of_topics) %></td>
        <td><%= t(:Topics) %></td>
        <td><%= t(:Posts) %></td>
        <td><%= t(:Position) %></td>
      </tr>
    </thead>
    <tbody>
        <%= render :partial => "admin/forums/forum", :collection => @forums, :locals => { :depth => 0, :extender => false } %>
    </tbody>
  <% else %>
    <thead>
      <tr>
        <td colspan='3' align='center'><%= t(:no_forums) %> <%= link_to t(:user_should_create), @category.nil? ? new_admin_forum_path : new_admin_category_forum_path(@category) %></td>
      </tr>
    </thead>
  <% end %>
</table>