%tbody
  %tr
    %td= f.label :title, t(:Title)
    %td= f.text_field "title"
  %tr
    %td{:valign => "top"}= f.label :description, t(:Description)
    %td= f.text_area "description", :cols => 40, :rows => 5
  - unless @forums.empty?
    %tr
      %td= f.label :parent_id, t(:Child_of)
      %td= f.select "parent_id", @forums.map { |forum| [select_display(forum),forum.id] }, :include_blank => true
  - unless @category || @categories.blank?
    %tr
      %td= f.label :category_id, t(:Category)
      %td= f.select "category_id", @categories.map { |category| [select_display(category, 'name'), category.id] }, :include_blank => true
  %tr
    %td= f.label :active, t(:Active)
    %td= f.check_box :active
  %tr
    %td= f.label :open, t(:Open)
    %td
      = f.check_box :open
