%tr{ :class => stripe }
  %td.icon
    = link_to theme_image_tag("edit.png"), edit_admin_forum_path(forum)
    = link_to theme_image_tag("delete.png"), admin_forum_path(forum), :method => "delete", :confirm => t(:confirm_deletion, :thing => "forum")
  %td{:style => "text-align:left !important"}
    = theme_image_tag("extender.jpg", :style => "padding-left:#{depth*20}px") if extender
    = link_to forum.title, forum_path(forum)
  %td= forum.topics.count
  %td= forum.posts.count
  %td
    - unless forum.first?
      = link_to theme_image_tag("top.jpg"), move_to_top_admin_forum_path(forum), :method => :put
      = link_to theme_image_tag("up.jpg"), move_up_admin_forum_path(forum), :method => :put
    = forum.position
    - unless forum.last?
      = link_to theme_image_tag("down.jpg"), move_down_admin_forum_path(forum), :method => :put
      = link_to theme_image_tag("bottom.jpg"), move_to_bottom_admin_forum_path(forum), :method => :put
= render :partial => forum.children.sort_by(&:position), :locals => { :extender => true, :depth => depth+1 }
