%table.forums.listing{:cellpadding => "3", :cellspacing => "0", :rules => "groups", :width => "100%"}
  - unless @forums.empty?
    %thead
      %tr
        %td &nbsp;
        %td= t(:Title)
        %td= t(:Topics)
        %td= t(:Posts)
        %td= t(:Position)
    %tbody
      = render :partial => "admin/forums/forum", :collection => @forums, :locals => { :depth => 0, :extender => false }
  - else
    %thead
      %tr
        %td{:align => "center", :colspan => "3", :class => "even"}
          = t(:no_forums)
          = link_to t(:user_should_create), @category.nil? ? new_admin_forum_path : new_admin_category_forum_path(@category)
