.breadcrumbs
  = link_to t(:Administration_Section), admin_root_path
  %span &raquo; #{link_to(t(:Forums), admin_forums_path)} &raquo; #{t(:Editing_a_forum)}: #{@forum.title}
= error_messages_for :forum
- form_for [:admin, @forum] do |f|
  %table.action-box{:cellpadding => "2", :cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %td{:colspan => "2"}
          %h2
            = t(:Editing_a_forum)
            \: #{@forum.title}
    = render :partial => "form", :locals => { :f => f }
    %tfoot
      %tr
        %td{:colspan => "2"}= submit_tag(t(:Update))
