<h2><%= t(:Your_topic_moderation_queue) %></h2>
<% form_tag moderate_moderator_topics_path do %>
  <table cellspacing='0' cellpadding='5' width='100%' class='list-table' rules='groups'>
    <% unless @topic_moderations.empty? %>
      <thead>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><%= t(:Topic) %></td>
          <td><%= t(:Flagged_On) %></td>
          <td><%= t(:Reason) %></td>
          <td><%= t(:Quick_Moderation)%></td>
        </tr>
      </thead>
      <tbody>
        <% for moderation in @topic_moderations %>
          <tr>
            <td align='center'><%= check_box_tag("moderation_ids[]", moderation.id, true, :id => "topic_#{moderation.topic.id}_moderated") %></td>
            <td>
              <%= link_to theme_image_tag("edit.jpg"), edit_moderator_moderation_path(moderation) %>
              <%= link_to theme_image_tag("delete.jpg"), moderator_moderation_path(moderation), :method => :delete, :confirm => t(:confirm_moderation_deletion) %>
            </td>
            <td><%= link_to moderation.moderated_object, [moderation.forum, moderation.topic] %></td>
            <td><%= moderation.created_at.strftime(date_time_display) %></td>
            <td><%= moderation.reason %></td>
            <td><%= link_to theme_image_tag("locked.jpg", :title => moderation.topic.locked? ? t(:Unlock_this_topic) : t(:Lock_this_topic)),  lock_moderator_topic_path(moderation.topic), :method => :put %>
            <%= link_to theme_image_tag("sticky.jpg", :title => t(:Sticky_this_topic)), sticky_moderator_topic_path(moderation.topic) %>
            <%= link_to theme_image_tag("delete.jpg", :title => t(:Delete_this_topic)), moderator_topic_path(moderation.topic), :method => "delete", :confirm => t(:confirm_topic_deletion) %></td>
          </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td style='text-align:right' colspan='6'><%= render :partial => "topics/buttons"%></td>
        </tr>
      </tfoot>
    <% else %>
      <thead><tr><td colspan='4'><b><%= t(:No_topics_in_moderation_queue) %></b></td></tr></thead>
    <% end %>
  </table>
  <% end %>