<h2>Your topic moderation queue</h2>
<table cellspacing='0' cellpadding='5' width='100%' class='list-table' rules='groups'>
  <% unless @topic_moderations.empty? %>
    <thead>
      <tr>
        <td>&nbsp;</td>
        <td>Topic</td>
        <td>Flagged On</td>
        <td>Reason</td>
        <td>Quick Moderation</td>
      </tr>
    </thead>
    <tbody>
      <% for moderation in @topic_moderations %>
        <tr>
          <td>
            <%= link_to theme_image_tag("edit.jpg"), edit_moderator_moderation_path(moderation) %>
            <%= link_to theme_image_tag("delete.jpg"), moderator_moderation_path(moderation), :method => :delete, :confirm => "Are you sure you want to remove this moderation?" %>
          </td>
          <td><%= link_to moderation.moderated_object, [moderation.forum, moderation.moderated_object] %></td>
          <td><%= moderation.created_at.strftime(date_time_display) %></td>
          <td><%= moderation.reason %></td>
        </tr>
    <% end %>
    </tbody>
  <% else %>
    <thead><tr><td colspan='4'><b>There are no ranks. <%= link_to "Maybe you should create one.", new_admin_rank_path %></b></td></tr></thead>
  <% end %>
</table>