%h2= t(:Your_topic_moderation_queue)
- form_tag moderate_moderator_topics_path do
  %table.list-table{:cellpadding => "5", :cellspacing => "0", :rules => "groups", :width => "100%"}
    - unless @topic_moderations.empty?
      %thead
        %tr
          %td &nbsp;
          %td &nbsp;
          %td= t(:Topic)
          %td= t(:Flagged_On)
          %td= t(:Reason)
          %td= t(:Quick_Moderation)
      %tbody
        - for moderation in @topic_moderations
          %tr
            %td{:align => "center"}= check_box_tag("moderation_ids[]", moderation.id, true, :id => "topic_#{moderation.topic.id}_moderated")
            %td
              = link_to theme_image_tag("edit.png"), edit_moderator_moderation_path(moderation)
              = link_to theme_image_tag("delete.png"), moderator_moderation_path(moderation), :method => :delete, :confirm => t(:confirm_deletion, :thing => "moderation")
            %td= link_to moderation.moderated_object, [moderation.forum, moderation.topic]
            %td= moderation.created_at.strftime(date_time_display)
            %td= moderation.reason
            %td
              = link_to theme_image_tag("locked.jpg", :title => moderation.topic.locked? ? t(:Unlock_this_topic) : t(:Lock_this_topic)),  lock_moderator_topic_path(moderation.topic), :method => :put
              = link_to theme_image_tag("sticky.jpg", :title => t(:Sticky_this_topic)), sticky_moderator_topic_path(moderation.topic)
              = link_to theme_image_tag("delete.png", :title => t(:Delete_this_topic)), moderator_topic_path(moderation.topic), :method => "delete", :confirm => t(:confirm_deletion, :thing => "topic")
      %tfoot
        %tr
          %td{:colspan => "6", :style => "text-align:right"}= render :partial => "topics/buttons"
    - else
      %thead
        %tr
          %td{:colspan => "4"}
            %b= t(:No_topics_in_moderation_queue)
