<h2>Your topic moderation queue</h2>
<% form_tag moderator_moderate_topics_path %>
<table cellspacing='0' cellpadding='5' width='100%' class='list-table' rules='groups'>
  <% unless @topic_moderations.empty? %>
    <thead>
      <tr>
        <td>&nbsp;</td>
        <td>Topic</td>
        <td>Flagged On</td>
        <td>Reason</td>
        <td>Quick Moderation</td>
      </tr>
    </thead>
    <tbody>
      <% for moderation in @topic_moderations %>
        <tr>
          <td>
            <%= link_to theme_image_tag("edit.jpg"), edit_moderator_moderation_path(moderation) %>
            <%= link_to theme_image_tag("delete.jpg"), moderator_moderation_path(moderation), :method => :delete, :confirm => "Are you sure you want to remove this moderation?" %>
          </td>
          <td><%= link_to moderation.moderated_object, [moderation.forum, moderation.topic] %></td>
          <td><%= moderation.created_at.strftime(date_time_display) %></td>
          <td><%= moderation.reason %></td>
          <td><%= link_to theme_image_tag("locked.jpg", :title => moderation.topic.locked? ? "Unlock this topic" : "Lock this topic"),  toggle_lock_moderator_topic_path(moderation.topic), :method => :put %>
          <%= link_to theme_image_tag("sticky.jpg", :title => "Sticky this topic"), toggle_sticky_moderator_topic_path(moderation.topic) %>
          <%= link_to theme_image_tag("delete.jpg", :title => "Delete this topic"), moderator_topic_path(moderation.topic), :method => "delete", :confirm => "Are you sure you want to delete this topic?" %></td>
        </tr>
    <% end %>
    </tbody>
    <tfoot>
  <% else %>
    <thead><tr><td colspan='4'><b>There are no topics in your moderation queue.</b></td></tr></thead>
  <% end %>
</table>