<%= link_to t(:Administration_Section), admin_root_path %> -> <%= t(:Groups) %>
<h2><%= t(:Groups) %></h2>
<%= link_to t(:New, :thing => "Group"), new_admin_group_path %>

<table cellspacing='0' cellpadding='2' class='list-table' width='100%' rules='groups'>
  <thead>
    <tr>
      <td>&nbsp;</td>
      <td>Name</td>
      <td>Owner</td>
      <td>Members</td>
    </tr>
  </thead>
  <tbody>
    <% for group in @groups %>
      <tr>
        <td>
          <%= link_to theme_image_tag("permissions.jpg", :alt => t(:Permissions), :title => t(:Permissions)), admin_group_permissions_path(group) %>
          <%= link_to theme_image_tag("edit.jpg", :alt => t(:Edit), :title => t(:Edit)), edit_admin_group_path(group) %>
          <%= link_to theme_image_tag("delete.jpg", :alt => t(:Edit), :title => t(:Edit)), admin_group_path(group), :method => "delete", :confirm => t(:confirm_deletion, :thing => "group") %>
        </td>
        <td><%= group.name %></td>
        <td><%= link_to group.owner, admin_user_path(group.owner) unless group.owner.nil? %></td>
        <td><%= link_to pluralize(group.users.count, "member"), admin_group_users_path(group), :id => "members_for_#{group.identifier}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>