.breadcrumbs
  = link_to t(:Administration_Section), admin_root_path
  %span &raquo; #{link_to(t(:Groups), admin_groups_path)} &raquo; #{t(:Creating_a_group)}
= error_messages_for :group
- form_for [:admin, @group] do |f|
  %table.action-box{:cellpadding => "2", :cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %td{:colspan => "2"}
          %h2= t(:Creating_a_group)
    = render :partial => "form", :locals => { :f => f }
    %tfoot
      %tr
        %td{:colspan => "2"}
          = submit_tag "Create", :value => t(:Create)
