<% form_for @user, :url => ban_admin_user_path(@user), :method => "put" do |f| %>
<table cellspacing='0' cellpadding='2' width='100%' class='action-box'>
  <thead><tr><td colspan='2'><h2>Banning <%= @user.login %></h2></td></tr></thead>
  <tbody>
    <tr><td><b>Ban Reason</b></td><td><%= f.text_field "ban_reason" %></td></tr>
    <tr><td><b>Ban Until</b></td><td><%= f.text_field "ban_time" %>
        <%= observe_field("user_ban_time", :url => { :controller => "chronic", :action => "index" }, :with => "duration", :frequency => 0.5, :update => "date") %>
        <div id='date'></div>
    </td></tr>
  </tbody>
  <tfoot>
    <tr><td colspan='2'><%= submit_tag("Ban!") %></td></tr>
  </tfoot>
</table>
<% end %>