<% form_for @banned_ip, :url => ban_ip_admin_users_path do |f| %>
  <%= error_messages_for :banned_ip %>

  <table cellspacing='0' cellpadding='2' width='100%' class='action-box'>
    <thead>
      <tr>
        <td colspan='2'><h2><%= t(:Ban_an_ip) %></h2></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.label "ip", t(:IP) %></td>
        <td><%= f.text_field "ip", :value => params[:ip] %> <%= t(:accepts_wildcard) %></td>
      </tr>
      
      <tr>
        <td><%= f.label "ban_time", t(:Ban_time) %></td>
        <td><%= f.text_field "ban_time" %>
          <%= observe_field("banned_ip_ban_time", :frequency => 0.5, :url => admin_chronic_path, :with => "duration", :update => "date") %>
          <div id='date'></div>
        </td>
      </tr>
      
      <tr>
        <td><%= f.label "reason", t(:Reason) %></td>
        <td><%= f.text_field "reason" %></td>
      </tr>
      
    </tbody>
    <tfoot>
      <tr>
        <td colspan='2'><%= submit_tag(t(:Ban_this_range)) %></td>
      </tr>
    </tfoot>
  </table>

  <h2><%= t(:Banned_IPs)%></h2>
  <% unless @banned.empty? %>
    <ul>
      <% for ip in @banned %>
        <li>
          <%= ip.ip.gsub("[0-9]{1,3}","*") %> - <%= t(:for_the_next) %>- <%= ip.reason %>
          <%= link_to(t(:remove), remove_banned_ip_admin_user_path(ip), :confirm => t(:confirm_unban_ip)) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <%= t(:Nothing_is_banned) %>
  <% end %>
<% end %>