- form_for @banned_ip, :url => ban_ip_admin_users_path do |f|
  = error_messages_for :banned_ip
  %h2= t(:Ban_an_ip)
  %p
    = f.label "ip", t(:IP)
    = f.text_field "ip", :value => params[:ip]
    = t(:accepts_wildcard)
  %p
    = f.label "ban_time", t(:Ban_time)
    = f.text_field "ban_time"
    = observe_field("banned_ip_ban_time", :frequency => 0.5, :url => admin_chronic_path, :with => "duration", :update => "date")
  %p
    = f.label "reason", t(:Reason)
    = f.text_field "reason"
  = submit_tag(t(:Ban_this_range))
  %h2= t(:Banned_IPs)
  - unless @banned.empty?
    %ul
      - for ip in @banned
        %li
          = ip.ip.gsub("[0-9]{1,3}","*")
          \- #{t(:for_the_next)}- #{ip.reason}
          \#{link_to(t(:remove), remove_banned_ip_admin_user_path(ip), :confirm => t(:confirm_unban_ip))}
  - else
    = t(:Nothing_is_banned)
