.breadcrumbs
  = link_to t(:Administration_Section), admin_root_path
  %span &raquo; #{t(:Users)}
  - if @object
    %span== &raquo; #{t(:for)} #{@object.class.to_s}: #{@object}
%h2= t(:Users)
= will_paginate(@users)
- if @object.is_a?(Group)
  - content_for :head do
    = javascript_include_tag 'jquery.autocomplete'
  = link_to_function t(:Add_new_user), "jQuery('#assign_user').show()"
  %span#assign_user{:style => "display:none;"}
    - form_tag admin_group_members_path do
      = text_field_tag :user
      = submit_tag t(:Add_to_group)
      :javascript
        jQuery("#user").autocomplete("/admin/users/search")
%table.users.listing{:cellpadding => "3", :cellspacing => "0", :rules => "groups", :width => "100%"}
  %thead
    %tr
      %td &nbsp;
      %td= t(:Login)
      %td= t(:Display_Name)
      %td= t(:Member_for)
      %td= t(:Posts)
      %td= t(:Banned)
      %td= t(:Banned_until)
      %td= t(:Times_banned)
      %td= t(:Last_IP)
  %tbody
    - if @users.empty?
      - if @object
        %tr{ :class => stripe }
          %td{:colspan => "9"}= t(:No_users_in, :thing => @object)
    - else
      - for user in @users
        %tr{ :class => stripe }
          %td.icon
            - if @object.is_a?(Group)
              = link_to theme_image_tag("delete.png", :alt => t(:Remove_user_from_group), :title => t(:Remove_user_from_group)), admin_group_member_path(@object, user), :method => :delete,  :confirm => t(:confirm_user_removal_from_group, :group => @object.to_s, :user => user)
            = link_to theme_image_tag("delete.png", :alt => t(:Delete_user), :title => t(:Delete_user)), admin_user_path(user), :method => :delete, :confirm => t(:confirm_deletion, :thing => "user")
            = link_to theme_image_tag("edit.png", :alt => t(:Edit_user), :title => t(:Delete_user)), edit_admin_user_path(user)
            = link_to theme_image_tag("ban.jpg", :alt => t(:Ban_user), :title => t(:Ban_user)), ban_admin_user_path(user), :confirm => t(:confirm_user_ban)
          %td= link_to h(user.login), admin_user_path(user)
          %td= link_to h(user.display_name || user.login), admin_user_path(user)
          %td= time_ago_in_words(user.created_at)
          %td= user.posts.count
          %td= !user.ban_time.nil? && user.ban_time > Time.now ? t(:Yes) : t(:No)
          %td= user.ban_time.nil? ? t(:Never) : user.ban_time.strftime(date_time_display)
          %td= user.ban_times
          %td
            = user.ip
            = link_to theme_image_tag("ban.jpg"), ban_ip_admin_users_path(:ip => user.ip)
            - if !user.ips.empty?
              (#{link_to t(:other_IPs, :count => user.ips.count), admin_user_ips_path(user)})
  %tfoot
= will_paginate(@users)