<%= link_to t(:Administration_Section), admin_root_path %> -> <%= t(:Users) %> 
<% if @ip %>
  <%= t(:for) %> <%= @ip %> 
<% end %>
<h2><%= t(:Users) %></h2>
<%= will_paginate(@users) %>
<table cellspacing='0' cellpadding='2' class='list-table' width='100%' rules='groups'>
  <thead>
    <tr><td>&nbsp;</td>
      <td><%= t(:Login) %></td>
      <td><%= t(:Display_Name) %></td>
      <td><%= t(:Member_since) %></td>
      <td><%= t(:Posts) %></td>
      <td><%= t(:Banned) %></td>
      <td><%= t(:Banned_until)%></td>
      <td><%= t(:Times_banned) %></td>
      <td><%= t(:Last_IP) %></td>
      
  </tr></thead>
  <tbody>
    <% for user in @users %>
      <tr>
        <td class='icon'><%= link_to theme_image_tag("delete.jpg"), admin_user_path(user), :method => :delete, :confirm => t(:confirm_user_deletion) %>
          <%= link_to theme_image_tag("edit.jpg"), edit_admin_user_path(user) %>
          <%= link_to theme_image_tag("ban.jpg"), ban_admin_user_path(user), :confirm => t(:confirm_user_ban) %></td>
        <td><%= link_to user.login, admin_user_path(user) %></td>
        <td><%= link_to user.display_name, admin_user_path(user) %></td>
        <td><%= user.created_at.strftime date_time_display %></td>
        <td><%= user.posts.size %></td>
        <td><%= !user.ban_time.nil? && user.ban_time > Time.now ? t(:Yes) : t(:No) %></td>
        <td><%= user.ban_time.nil? ? t(:Never) : user.ban_time.strftime(:long_ordinal) %></td>
        <td><%= user.ban_times %></td>
        <td>
          <%= user.ip %> <%= link_to theme_image_tag("ban.jpg"), ban_ip_admin_users_path(:ip => user.ip) %>
          <% if !user.ips.empty? %> 
            (<%= link_to t(:other_IPs, :count => user.ips.count), admin_user_ips_path(user) %>)
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
<%= will_paginate(@users) %>