<%= link_to t(:admin_section), admin_root_path %> -> <%= t(:users) %>
<h2><%= t(:users) %></h2>
<table cellspacing='0' cellpadding='2' class='list-table' width='100%' rules='groups'><thead>
    <tr><td>&nbsp;</td>
      <td><%= t(:Login) %></td>
      <td><%= t(:Member_since) %></td>
      <td><%= t(:Posts) %></td>
      <td><%= t(:Banned) %></td>
      <td><%= t(:Banned_until)%></td>
      <td><%= t(:Times_banned) %></td>
      <td><%= t(:IP) %></td>
      
  </tr></thead>
  <tbody>
    <% for user in @users %>
      <tr>
        <td class='icon'><%= link_to theme_image_tag("delete.jpg"), admin_user_path(user), :method => :delete, :confirm => t(:confirm_user_deletion) %>
          <%= link_to theme_image_tag("edit.jpg"), edit_admin_user_path(user) %>
          <%= link_to theme_image_tag("ban.jpg"), ban_admin_user_path(user), :confirm => t(:confirm_user_ban) %></td>
        <td><%= link_to user.login, admin_user_path(user.login) %></td>
        <td><%= user.created_at.strftime date_time_display %></td>
        <td><%= user.posts.size %></td>
        <td><%= !user.ban_time.nil? && user.ban_time > Time.now ? t(:yes) : t(:no) %></td>
        <td><%= user.ban_time.nil? ? t(:never) : user.ban_time.ordinalize %></td>
        <td><%= user.ban_times %></td>
        <td><%= user.ip %> <%= link_to theme_image_tag("ban.jpg"), ban_ip_admin_user_path(user.ip) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>