%table.posts{:cellpadding => "5", :cellspacing => "0", :width => "100%"}
  %tr
    %td{:rowspan => "2", :valign => "top", :width => "4%"}
      %b= @user
      %br
      %b= @user.rank
      %br
      - if @user.has_avatar?
        = image_tag @user.avatar(:thumbnail)
        %br
      - elsif !@user.email.blank?
        = image_tag("http://www.gravatar.com/avatar.php?gravatar_id=" + Digest::MD5.hexdigest(@user.email) + "&default=")
      %br
      %br
  %tr
    %td
    %td{:colspan => "2", :valign => "top"}
      %b= t(:Date_joined)
      = @user.created_at.strftime(date_display)
      %br
      %b= t(:Posts)
      = @user.posts.count
      , #{t(:about)} #{@posts_percentage}% #{t(:of_all_posts)}
      %br
      %b= t(:IP)
      = @user.ip
      %br
      %b= t(:Bans)
      = @user
      = t(:has_been_banned, :count => @user.ban_times)
      \.
      %br
      - if !@user.ban_time.nil? && @user.ban_time > Time.now
        %h2
          = @user
          = t(:is_currently_banned)
        = t(:user_was_banned_by, :banned_by => @user.banned_by)
        = t(:ban_expires_in, :expiry => time_ago_in_words(@user.ban_time))
        \.
        %br
        %br
        = t(:the_reason_was, :reason => @user.ban_reason)
        %br
        %br
      - unless @user.signature.blank?
        %br
        ____________
        %br
        = parse_text(@user.signature)
