<% inside_layout "application" do %>
  <ul id='admin-navlist'>
    <li><%= link_to "Index", admin_path,  :class => selected("index")  %></li>
    <li><%= link_to "Forums", admin_forums_path, :class => selected("forums") %></li>
    <li><%= link_to "Users", admin_accounts_path, :class => selected("users") %></li>
    <li><%= link_to "Ranks", admin_ranks_path, :class => selected("ranks") %></li>
    <li><%= link_to "Themes", admin_themes_path, :class => selected("themes") %></li>
    <li><%= link_to "IP Banning", ban_ip_admin_accounts_path, :class => selected("ip_banning") %>
   
  </ul>
  <div id='admin-page'>
    <%= yield %>
  </div>
<% end %>