<% inside_layout "application" do %>
  <ul id='admin-navlist'>
    <li><%= link_to t(:Index), admin_root_path,  :class => selected("index")  %></li>
    <li><%= link_to t(:Categories), admin_categories_path, :class => selected("categories") %></li>
    <li><%= link_to t(:Forums), admin_forums_path, :class => selected("forums") %></li>
    <li><%= link_to t(:Users), admin_users_path, :class => selected("users") %></li>
    <li><%= link_to t(:Ranks), admin_ranks_path, :class => selected("ranks") %></li>
    <li><%= link_to t(:Themes), admin_themes_path, :class => selected("themes") %></li>
    <li><%= link_to t(:IP_Banning), ban_ip_admin_users_path, :class => selected("ip_banning") %>
   
  </ul>
  <div id='admin-page'>
    <%= yield %>
  </div>
<% end %>