<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title><%= @title || params[:action].capitalize + " - " + params[:controller].split("/").map(&:capitalize).join(" - ") %> - <%= t(:rBoard) %></title>
    <link rel='stylesheet' href='/themes/<%= theme.name %>/style.css'>
    <%= stylesheet_link_tag "ultraviolet/lazy" %>
    <%= stylesheet_link_tag "ultraviolet/general" %>
    <%= javascript_include_tag 'jquery' %>
    <%= yield :feed %>
    <%= yield :head %>
  </head>
  <body>
    <div align='center'>
    <div class='content'>
      <div class='title-bar'>
        <%= link_to theme_image_tag("logo.jpg", :alt => "logo"), forums_path, :class => "logo" %>
      </div>
      <div class='flash' id='flash' <%= "style='display:none'" if flash[:notice].blank? %>>
        <%= flash[:notice] %>
      </div>
        
      <div class='menu-bar'>
        <%= link_to t(:Home), forums_path %> |
        <% unless logged_in? %>
            <%= link_to t(:Login), login_path %> |
            <%= link_to t(:Signup), signup_users_path %>
         
        <% else %>
          <%= t(:Logged_in_as) %> <%= link_to current_user, current_user %> |
          <%= link_to t(:Edit_Profile), [:edit, current_user] %> |
          <%= link_to t(:Member_List), users_path %> | 
          <%= link_to t(:x_new_messages, :count => @current_user.unread_messages.size), messages_path %> |
          <% if current_user.can?(:subscribe) %>
            <%= link_to t(:Subscriptions), subscriptions_path %> |
          <% end %>
          <%= link_to t(:Logout), logout_path %>
     <% end %>
      </div>
      
      <div class='search'>
        <% form_tag :controller => "search" do %>
          <%= t(:Search) %>: <%= text_field_tag :search %>
        <% end %>
      </div><br /><br />
      <%= yield %>
      <br /><br />
      <div align='center'>        
        <% if current_user.can?(:access_moderator_section) %>
          <%= link_to "Moderator Section", moderator_root_path %>
        <% end %>
        
        <% if current_user.can?(:access_admin_section) %>
          | <%= link_to "Administration Section", admin_root_path %>
        <% end %>
      </div>
      <br /><br /><br />
    </div>
  </body>
</html>
