!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      = @title || params[:action].gsub("_", " ").titleize + " - " + params[:controller].split("/").reverse.map(&:capitalize).join(" - ")
      \-
      = t(:rBoard)
    %link{:href => "/themes/#{theme.name}/style.css", :rel => "stylesheet"}
    = javascript_include_tag 'jquery'
    %script
      jQuery.noConflict();
    = javascript_include_tag :defaults
    = yield :feed
    = yield :head

  %body
    .title-bar
      = link_to theme_image_tag("logo.jpg"), forums_path
    .menu-bar
      = link_to t(:Home), forums_path
      \/
      - unless logged_in?
        = link_to t(:Login), login_path
        \/
        = link_to t(:Signup), signup_path
        \/
      - else
        = link_to t(:Edit_Profile), [:edit, current_user]
        \/
        = link_to t(:Member_List), users_path
        \/
        = link_to t(:x_new_messages, :count => @current_user.unread_messages.size), messages_path
        \/
        - if current_user.can?(:subscribe)
          = link_to t(:Subscriptions), subscriptions_path
          \/
        = link_to t(:Logout), logout_path
        \/
        %span{ :id => "logged-in-as"}
          - if logged_in?
            = t(:Logged_in_as)
            = link_to current_user, current_user

    .search
      = form_tag :controller => "search" do
        = t(:Search)
        \:
        = text_field_tag :search, params[:search]
      .clear
    .content
      - unless flash[:notice].blank?
        .flash#flash= flash[:notice]
      .forums_container
        = yield
        .center
          - if current_user.can?(:access_moderator_section)
            = link_to "Moderator Section", moderator_root_path
          - if current_user.can?(:access_admin_section)
            \/
            = link_to "Administration Section", admin_root_path
