<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>rBoard - <%= params[:controller].capitalize %> - <%= params[:action].capitalize %> </title>
    <link rel='stylesheet' href='/themes/<%= theme.name %>/style.css'>
    <%= stylesheet_link_tag "ultraviolet/lazy" %>
    <%= stylesheet_link_tag "ultraviolet/general" %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div align='center'>
    <div class='content'>
      <div class='title-bar'>
        <%= link_to theme_image_tag("logo.jpg", :alt => "logo"), :class => "logo", :controller => "forums" %>
      </div>
      <div class='flash' id='flash' <%= "style='display:none'" if flash[:notice].blank? %>>
           <%= flash[:notice] %>
           </div>
        
        <div class='menu-bar'>
          <%= link_to "Home", forums_path %> |
          <% unless logged_in? %>
              <%= link_to "Login", login_path %> |
              <%= link_to "Signup", :controller => "users", :action => "signup" %>
           
          <% else %>
            Logged in as <%= link_to current_user.login, current_user %> |
            <%= link_to "Edit Profile", [:edit, current_user] %> |
            <%= link_to "Member List", users_path %> | 
            <%= link_to "Search", search_path %> | 
            <%= link_to pluralize(@current_user.unread_messages.size,"new message"), messages_path %> |
            <%= link_to "Logout", logout_path %>
       <% end %>
        </div>
        <div class='time-now'>
          
        The time is now <%= Time.now.strftime(date_time_display) %> </div><br /><br />
        <% if user_banned? %>
          <div class='ban-box' align='center'><h1>YOU ARE BANNED</h1><%= current_user.banned_by.login %> banned you and stated "<%= current_user.ban_reason %>" as the reason. Your ban expires in <%= time_ago_in_words(current_user.ban_time) %><br /><br /></div>
        <% elsif flash[:ip] %>
          <div class='ban-box' align='center'><h1>YOU ARE BANNED</h1>This ban will expire in <%= time_ago_in_words(flash[:ip].ban_time) %> and was set by <%= flash[:ip].user.login %>
            <% unless flash[:ip].reason.blank? %>
              stating  <%= flash[:ip].reason %> as the reason.
            <% else %>
              without stating a reason.
            <% end %>
          <br /> </div>
        <% else %>
            <%= yield %>
        <% end %>
        <div align='center'>        
          <% if is_moderator? %>
            <%= link_to "Moderator Section", moderator_path %>
          <% end %>
          
          <% if is_admin? %>
            | <%= link_to "Administration Section", admin_path %>
          <% end %>
        </div>
    </div>
  </body>
</html>
