<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title><%= @title || params[:action].capitalize + " - " + params[:controller].split("/").map(&:capitalize).join(" - ") %> - <%= t(:rBoard) %></title>
    <link rel='stylesheet' href='<%=ActionController::Base.relative_url_root%>/themes/<%= theme.name %>/style.css'>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :feed %>
    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
