<% form_tag do %>
  <table cellspacing='0' cellpadding='2' class='action-box' width='100%'>
    <thead><tr><td colspan='2'><h2>Editing Your Profile</h2></td></tr></thead>
    <tbody>
      <tr><td valign='top' colspan='2'><h3>New Password</h3></td></tr>
      <tr><td valign='top'><b>New Password</b></td><td> <%= password_field "user","password", :value => "" %></td></tr>
      <tr><td valign='top'><b>New Password Confirmation</b></td><td> <%= password_field "user","password_confirmation", :value => "" %></td></tr>
      <tr><td valign='top'><b>Signature</b></td><td> <%= text_area "user","signature", :cols => 80, :rows => 5, :value => @user.signature %></td></tr>
      <tr><td valign='top'><b>Email</b></td><td><%= text_field "user", "email"  %></td></tr>
      <tr><td valign='top'><b>Date &amp; Time Display</b></td><td><%= text_field "user", "date_display" %> <%= text_field "user", "time_display" %> <%= link_to "read this for more information", "http://noobkit.com/show/ruby/ruby/ruby-core/time/strftime.html" %></td></tr>
      <tr><td valign='top'><b>Example Time Display</b></td><td><%= Time.now.strftime(date_display + " " + time_display) %></td></tr>
      <% if @themes.size > 1 %><tr><td valign='top'><b>Theme</b></td><td><%= select "user", "theme", @themes.map { |t| [t.name, t.id] } %></td></tr><% end %>
      <% if @user.email %>
        <tr><td valign='top'>
          <b>Current <a href='http://gravatar.com/'>Gravatar</a></b></td><td>
            <%= image_tag "http://www.gravatar.com/avatar.php?gravatar_id=" + Digest::MD5.hexdigest(@user.email) %>
        </td></tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr><td colspan='2'>
          <%= submit_tag "Update" %>
    </td></tr></tfoot>
  </table>
<% end %>